@charset 'utf-8';

/*@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); */

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 100;
	src: local("Noto Sans Thin"), local("NotoSans-Thin"), url(../fonts/NotoSansKR-Thin.eot), url(../fonts/NotoSansKR-Thin.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Thin.woff) format("woff"), url(../fonts/NotoSansKR-Thin.otf) format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 300;
	src: local("Noto Sans Light"), local("NotoSans-Light"), url(../fonts/NotoSansKR-Light.eot), url(../fonts/NotoSansKR-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Light.woff) format("woff"), url(../fonts/NotoSansKR-Light.otf) format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 400;
	src: local("Noto Sans DemiLight"), local("NotoSans-DemiLight"), url(../fonts/NotoSansKR-DemiLight.eot), url(../fonts/NotoSansKR-DemiLight.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-DemiLight.woff) format("woff"), url(../fonts/NotoSansKR-DemiLight.otf) format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 500;
	src: local("Noto Sans Regular"), local("NotoSans-Regular"), url(../fonts/NotoSansKR-Regular.eot), url(../fonts/NotoSansKR-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Regular.woff) format("woff"), url(../fonts/NotoSansKR-Regular.otf) format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 700;
	src: local("Noto Sans Medium"), local("NotoSans-Medium"), url(../fonts/NotoSansKR-Medium.eot), url(../fonts/NotoSansKR-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Medium.woff) format("woff"), url(../fonts/NotoSansKR-Medium.otf) format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 800;
	src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(../fonts/NotoSansKR-Bold.eot), url(../fonts/NotoSansKR-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Bold.woff) format("woff"), url(../fonts/NotoSansKR-Bold.otf) format("opentype");
}


/* common */


html {
	font-size: 16px;
	letter-spacing: -0.5px;
	-webkit-tap-highlight-color: transparent;
/*	cursor: none;*/
}
html.menu-opened,
html.popup-opened,
html.layer-opened,
html.search-layer-opened{
	overflow: hidden;
}
body {
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	font-family: "Noto Sans Korean", sans-serif, '맑은고딕', 'Malgun Gothic', '돋움', Dotum;
	color: #333333;
	background: #f2f2f2;
}
html, body {
	height: 100%;
}
*, :after, :before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html * {
	cursor: none;
}

#app {
	position: relative;
	overflow-x: hidden;
}
button {
/*	cursor: pointer;*/
	cursor: none;
	outline: none;
	font-family: "Noto Sans Korean", sans-serif, '맑은고딕', 'Malgun Gothic', '돋움', Dotum;
}
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="file"],
textarea {
	color: #333333;
	font-family: "Noto Sans Korean", sans-serif, '맑은고딕', 'Malgun Gothic', '돋움', Dotum;
}
input[type="checkbox"],
input[type="radio"] {
/*	cursor: pointer;*/
}
input[type="checkbox"] {
	border: 0;
	position: absolute;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background-color: none;
}
a {
/*	cursor: pointer;*/
	text-decoration: none;
	color: inherit;
}
iframe {
	display: block;
}
img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
figure, figcaption {
	margin: 0;
	padding: 0;
}
.blind {
	position: absolute; display: block; width: 1px; height: 1px; overflow: hidden; color: transparent; font-size: 1px; line-height: 1px; opacity: 0; -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)'; filter: alpha(opacity=0);
}
input:focus,
button:focus,
textarea:focus{
	outline: 0;
}
#go-top {
	position: fixed;
	right: 60px;
	bottom: 60px;
	width: 46px;
	height: 46px;
	z-index: 3;
	opacity: 0;
}
.header-container {
	background: #f2f2f2;
	height: 150px;
}
header {
	height: 100%;
}
header .inner {
	max-width: 1202px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	text-align: center;
}
header h1 {
	height: 100%;
	width: 100%;
}
header h1 .logo {
	width: 151px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
header .submit-link {
	position: absolute;
	top: 54px;
	left: 17px;
	font-size: 0;
}
header .submit-link .icon{
	float: left;
}
header .submit-link .text{
	float: left;
	margin: 3px 0 0 12px;
	text-align: left;
}
header .submit-link .text span{
	display: block;
	font-size: 17px;
	font-weight: 800;
	padding-bottom: 7px;
}
header .submit-link .text span:last-child{
	display: block;
	font-size: 13px;
	font-weight: 600;
	padding-bottom: 0;
}
header .actions {
	position: absolute;
	top: 54px;
	right: 17px;
	font-size: 0;
}
header .actions > div {
	font-size: 20px;
	vertical-align: middle;
	display: inline-block;
}
header .actions .user-status a {
	letter-spacing: 1px;
	font-weight: 700;
}
header .actions .search-wrap {
	margin-left: 31px;
}
header .actions .search-wrap > button {
	width: 43px;
	height: 43px;
	background: #333333;
	border-radius: 50%;
}
header .actions .search-wrap > button > span {
	display: inline-block;
	background: url(../images/search_obj.png) center no-repeat;
	width: 20px;
	height: 20px;
	background-size: cover;
}
.footer-container {
	position: relative;
	z-index: 1;
	background: #fefefe;
}
.footer-container footer {
	height: 100%;
}
footer .inner {
	height: 100%;
	padding: 50px 0 46px;
	max-width: 1400px;
	margin: 0 auto;
}
footer .actions {
	font-size: 0;
	padding-left: 8px;
	margin-bottom: 18px;
}
footer .actions a {
	display: inline-block;
	margin-right: 26px;
}
footer .actions a i {
	display: inline-block;
	vertical-align: middle;
}
footer .actions a:last-child {
	margin-right: 0;
}
footer .mail {
	width: 23px;
	height: 17px;
	background: url(../images/contact_mail.png) center / 23px 17px no-repeat;
}
footer .facebook {
	width: 9px;
	height: 17px;
	background: url(../images/contact_fb.png) center / 9px 17px no-repeat;
}
footer .instagram {
	width: 20px;
	height: 20px;
	background: url(../images/contact_insta.png) center / 20px 20px no-repeat;
}
footer .copyright {
	font-size: 12px;
	color: #666666;
}
.side-nav {
	position: fixed;
	top: 50%;
	left: 0;
	z-index: 90;
	margin-top: -216px;
	text-align: center;
}
.side-nav .search-wrap {
	transition: all 0.2s ease-in-out;
	opacity: 0;
	margin-bottom: 24px;
}
.side-nav .search-wrap > button {
	width: 43px;
	height: 43px;
	background: #333333;
	border-radius: 50%;
}
.side-nav .search-wrap > button > span {
	display: inline-block;
	background: url(../images/search_obj.png) center no-repeat;
	width: 20px;
	height: 20px;
	background-size: cover;
}
.side-nav #gnb {
	display: block;
	position: relative;
	width: 96px;
	height: 96px;
	background: #333333;
}
.side-nav #gnb a {
	display: block;
	width: 100%;
	height: 100%;
}
.side-nav #gnb .burger-wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.side-nav #gnb .burger-wrap .line {
	display: block;
	width: 37px;
	height: 3px;
	background: #ffffff;
	transform-origin: center;
}
.side-nav #gnb .burger-wrap .line.mid {
	margin: 5px 0;
}
.side-nav .direct-my-v {
	display: block;
	width: 96px;
	height: 96px;
	line-height: 96px;
	background: #f7dd30;
	text-align: center;
}
.side-nav .direct-my-v a {
	display: block;
	width: 100%;
	height: 100%;
}
.side-nav .direct-my-v span {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.5px;
	vertical-align: middle;
}
.global-menu {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #f2f2f2;
	opacity: 0;
	z-index: 0;
	transition: all 0.36s ease;
}
.global-menu .inner {
	padding-top: 32.9vh;
	display: flex;
	flex-wrap: nowrap;
/*	justify-content: stretch;*/
	justify-content: space-between;
}
.global-menu .list-wrap {
	display: flex;
	padding-left: 17.39vw;
	padding-top: 7vh;
/*	margin-right: 9.6vw;*/
/*	justify-content: space-between;*/
}
.global-menu .list-wrap .list {
	text-align: center;
	margin-right: 11.8vw;
}
.global-menu .list-wrap .list:last-child {
	margin-right: 0;
}
.global-menu .list-wrap .list li {
	display: block;
	margin-bottom: 7.2vh;
}
.global-menu .list-wrap .list li a {
	font-size: 18px;
	font-weight: 400;
	color: #666666;
	transition: color 0.17s ease;
}
.global-menu .list-wrap .list li a.is-active,
.global-menu .list-wrap .list li a:hover {
	color: #333333;
}
.global-menu .about-us {
	flex-basis: 36.4%;
}
.global-menu .about-us .logo {
	width: 183px;
/*	margin: 0 109px 41px auto;*/
	margin: 0 5.6vw 41px auto;
}
.global-menu .about-us .line {
	width: 100%;
	height: 1px;
	background: #f7dd30;
	transform: scaleX(0);
	transform-origin: 50% 50%;
	transition: transform 1s ease, background 0.43s linear 1s;
}

.global-menu .about-us .contacts {
/*	padding: 37px 0 0 139px;*/
	padding: 37px 0 0 7.2vw;
}
.global-menu .about-us .contacts p {
	color: #666666;
	letter-spacing: -0.5px;
	font-size: 0;
}
.global-menu .about-us .contacts p span,
.global-menu .about-us .contacts p i {
	display: inline-block;
	font-size: 13px;
	vertical-align: middle;
}
.global-menu .about-us .contacts .tel {
	margin: 42px 0 25px;
}
.global-menu .about-us .contacts .tel i {
	width: 17px;
	height: 15px;
	background: url(../images/contact_tel.png) center no-repeat;
	background-size: cover;
	margin-right: 12px;
}
.global-menu .about-us .contacts .sns {
	margin-top: 25px;
}
.global-menu .about-us .contacts .sns i {
	margin-right: 36px;
}
.global-menu .about-us .contacts .sns .mail {
	width: 20px;
	height: 15px;
	background: url(../images/contact_mail.png) center no-repeat;
	background-size: cover;
}
.global-menu .about-us .contacts .sns .facebook {
	width: 9px;
	height: 17px;
	background: url(../images/contact_fb.png) center no-repeat;
	background-size: cover;
}
.global-menu .about-us .contacts .sns .instagram {
	width: 20px;
	height: 20px;
	background: url(../images/contact_insta.png) center no-repeat;
	background-size: cover;
}
.global-menu .copyright {
	position: absolute;
	right: 4.7vw;
	bottom: 8.7vh;
	font-size: 12px;
	font-weight: 400;
	color: #666666;
	letter-spacing: -0.5px;
}

.menu-opened .global-menu {
	z-index: 89;
	opacity: 1;
}
.menu-opened .global-menu .about-us .line {
	transform: scaleX(1);
	background: #f7dd30;
}
.menu-opened .global-menu .anim-blur {
	filter: blur(0) !important;
}

.global-search-layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 0;
	opacity: 0;
/*	z-index: 2;*/
}
.global-search-layer .inner > .search-layer-close {
	width: 43px;
	height: 43px;
	position: absolute;
	right: calc(50% - 584px);
	top: 53px;
	border-radius: 50%;
	background: #333333;
}
.global-search-layer .inner > .search-layer-close img {
	width: 20px;
}
.global-search-layer .bg-dark {
	background: rgba(8, 8, 8, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
}
.global-search-layer .inner {
	position: relative;
	z-index: 1;
	padding: 224px 0 109px;
	background: rgba(242, 242, 242, 0.9);
	transform: translateY(-505px);
	transition: all 0.4s ease;
}
.global-search-layer .search-wrapper {
/*	width: 1065px;*/
	position: relative;
	min-width: 1200px;
	max-width: 1400px;
	margin: 0 auto;
	text-align: center;
}
.global-search-layer .search-wrapper .wrap:first-child {
	margin-bottom: 29px;
	font-size: 0;
}
.global-search-layer .search-wrapper .wrap .button-awards {
	position: absolute;
	right: 52px;
	top: 13px;
	width: 155px;
	height: 33px;
	background: url(../images/awards_btn.png) center no-repeat;
	background-size: 155px 33px;
}
.global-search-layer .search-wrapper .wrap .button-refresh {
	height: 21px;
	padding-left: 34px;
	background: url(../images/search_refresh.png) left center no-repeat;
	background-size: 26px 21px;
	font-size: 15px;
	vertical-align: top;
	margin: 8px 30px 0 0;
}
.global-search-layer .search-wrapper .wrap .search-bar {
	width: 584px;
	display: inline-block;
	position: relative;
	background: url(../images/search_obj_black.png) 7px 8px no-repeat;
	background-size: 20px 20px;
}
.global-search-layer .search-wrapper .wrap .search-bar input[type="text"] {
	width: 100%;
	padding: 10px 0 10px 52px;
	font-size: 16px;
}
.global-search-layer .search-wrapper .wrap .search-bar:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #333333;
}
.global-search-layer .search-wrapper .sortings {
	font-size: 0;
}
.global-search-layer .search-wrapper .sortings > * {
	vertical-align: middle;
}
.global-search-layer .search-wrapper .sortings .sort-list {
	display: inline-block;
	margin-right: 11px;
	font-size: 0;
}
.global-search-layer .search-wrapper .sortings .sort-list .row:first-child {
	margin-bottom: 25px;
}
.global-search-layer .search-wrapper .sortings .sort-list .sort {
	display: inline-block;
	width: 211px;
	height: 40px;
	margin-left: -1px;
/*	border: 1px solid #080808;*/
	font-size: 16px;
	font-weight: 400;
}
.global-search-layer .search-wrapper .sortings .sort-list .sort:last-child {
	margin-right: 0;
}
.global-search-layer .search-wrapper .sortings .button-gl-apply {
	width: 125px;
	height: 40px;
	background: #333333;
	color: #ffffff;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: -1px;
}

html.search-layer-opened .global-search-layer {
	opacity: 1;
	z-index: 90;
}
html.search-layer-opened .global-search-layer .inner {
	transform: translateY(0px);
}
.app-container {
/*	min-width: 1400px;*/
}
.app-container .main-container {
	position: relative;
	z-index: 1;
}
.content .list-container .video-list {
/*	display: flex;*/
	overflow: hidden;
}

.content .list-container .video {
/*	flex-basis: 25%;	*/
	float: left;
	padding: 0 0 68px;
	transition: all 0.4s ease;	
}
.content .list-container .video figure{
	position: relative;
}
.content .list-container .video .prize_icon{
	position: absolute;
	z-index: 1;
	width: 28.5px;
	height: 28.5px;
	margin: 10px 10px;
	right: 0;
}
.content .list-container .video .box-bg {
	position: relative;
}
.content .list-container .video .box-bg::after {
	content: "";
	display: block;
	background: rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: opacity 0.23s ease;
}
.content .list-container .video > a:hover .box-bg::after{
	opacity: 1;
}
.hide {
	display: none !important;
}
.result-empty {
	position: relative;
	text-align: center;
	padding: 49px 0;
}
.result-empty p {
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	color: #666666;
}
.result-empty .link-black {
	display: block;
	position: relative;
	margin: 30px auto 0;
	width: 124px;
	height: 45px;
	color: #ffffff;
	background: #333333;
	text-align: center;
}
.result-empty .link-black span {
	display: block;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 16px;
	font-weight: 500;
}

.tab-wrap .tab {
	transition: all 0.3s ease-in-out;
}
.tab-wrap .tab:last-child {
	margin-right: 0 !important;
}
.tab-wrap .tab:after {
	transition: all 0.4s ease-in-out;
	transform: scaleY(0);
	opacity: 0;
}
.tab-wrap .tab.is-active:after {
	transform: scaleY(1) !important;
	opacity: 1 !important;
}
.tab-wrap .tab.is-active,
.tab-wrap .tab:hover {
	color: #333333 !important;
}

.content .list-container .video.loaded {
	opacity: 0;
/*	transform: scale(0);*/
}
@media all and (max-width: 500px) {
	.content .list-container .video {
		width: 100%;
		padding: 0 15px 68px;
	}
	.content .list-container .video img {
		width: 100%;
	}
}
@media all and (min-width: 501px) and (max-width: 991px) {
	.content .list-container .col-sm-2 {
		width: 48%;
		margin-right: 2%;
	}
	.content .list-container .col-sm-2:nth-of-type(2n) {
		margin-right: 0;
	}
}
@media all and (min-width: 992px) and (max-width: 1199px) {
	.content .list-container .col-md-3 {
		width: 31%;
		margin-right: 3.5%;
	}
	.content .list-container .col-md-3:nth-of-type(3n) {
		margin-right: 0;
	}
}
@media all and (min-width: 1200px) {
	.content .list-container .col-lg-4 {
		width: 23.875%;
		margin-right: 1.5%;
	}
	.content .list-container .col-lg-3 {
		width: 31%;
		margin-right: 3.5%;
	}
	.content .list-container .col-lg-4:nth-of-type(4n) {
		margin-right: 0;
	}
	.content .list-container .col-lg-3:nth-of-type(3n) {
		margin-right: 0;
	}
}
@media all and (max-width: 1202px) {
	.global-search-layer .layer-close {
		right: 17px;
	}
}

.content .list-container .video figure figcaption {
	padding: 20px 10px;
}
.content .list-container .video figure figcaption > span {
	display: block;
	letter-spacing: -1px;
	letter-spacing: -0.5px;
}
.content .list-container .video figure figcaption .brand {
	color: #666666;
	font-size: 15px;
	font-weight: 700;
	overflow: hidden;
	line-height: 19px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.content .list-container .video figure figcaption .title {
	margin: 6px 0 7px;
	font-size: 16px;
	font-weight: 500;
	overflow: hidden;
	line-height: 21px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.content .list-container .video figure figcaption .icon-wrap {
	font-size: 0;
}
.content .list-container .video figure figcaption .icon-wrap > span {
	display: inline-block;
	vertical-align: bottom;
	margin-right: 11px;
}
.content .list-container .video figure figcaption .icon-wrap > span > span {
	display: inline-block;
	font-size: 16px;
	color: #333333;
}
.content .list-container .video figure figcaption .icon-wrap span .icon {
	display: inline-block;
	margin-right: 6px;
}
.content .list-container .video figure figcaption .icon-wrap > span:last-child {
	margin-right: 0;
}
.icon-wrap .play .icon {width: 11px;height: 13px;background: url(../images/icon_play.png) center no-repeat;background-size: cover;}
.icon-wrap .comment .icon {width: 13px;height: 12px;background: url(../images/icon_comment.png) center no-repeat;background-size: cover;}
.icon-wrap .like .icon {width: 14px;height: 13px;background: url(../images/icon_like.png) center no-repeat;background-size: cover;}
.icon-wrap .collect .icon {width: 10px;height: 13px;background: url(../images/icon_collect.png) center no-repeat;background-size: cover;}

.content .list-container .read-more {
	display: block;
	width: 194px;
	height: 58px;
	background: #333333;
	color: #ffffff;
	font-size: 50px;
	font-weight: 100;
	position: relative;
	margin: 0 auto;
}
.content .list-container .read-more img {
	width: 22px;
	margin: 0 auto;
}

.popup-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* z-index: 2000; */
	z-index: 99;
	overflow-y: scroll;
	overflow-x: auto;
	font-size: 0;
/*	line-height: 0;*/
	opacity: 0;
	text-align: center;
	white-space: normal;
	word-break: normal;
	word-wrap: normal;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 0.1s ease;
}
.popup-wrap, .popup {
	display: none;
}
.popup-wrap.is-opened {
	display: block;
	opacity: 1;
}
.popup-wrap:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.popup-wrap .popup {
	display: inline-block;
}
.popup {
	position: relative;
	margin: 20px;
	vertical-align: middle;
/*	line-height: 100%;*/
	white-space: normal;
	word-break: keep-all;
	word-wrap: break-word;
	background: #ffffff;
	text-align: left;
	transform: scale(0);
	transition: all 0.15s ease;
}
.popup .inner .title {
	text-align: left;
}
.popup-wrap.is-opened .popup {
	transform: scale(1);
}
.popup button.popup-close {
	display: block;
	position: absolute;
	top: 35px;
	right: 35px;
	width: 40px;
	height: 40px;
	background: url(../images/close_x.png) center / 18px 18px no-repeat #333333;
	border-radius: 50%;
}


/* 공통 컴포넌트 */
/* 토글 스위치 기본 css */
.setting .secret-guide {
	display: inline-block;
	margin-right: 12px;
	font-size: 20px;
	line-height: 20px;
	vertical-align: middle;
	padding-left: 28px;
	background: url(../images/myvvv_secret_icon.png) 0 0 / 16px 20px no-repeat;
}
.setting .toggle {
	position: relative;
	display: inline-block;
	width: 106px;
	height: 36px;
	border: 3px solid #e2e2e2;
	border-radius: 17px;
	vertical-align: middle;
	background: #ffffff;
	transition: background-color .25s cubic-bezier(.25,.375,.1,.975);
}
.setting .toggle:after {
	content: "아니요";
	position: absolute;
	left: 41px;
	top: 50%;
	transform: translateY(-50%);
	color: #b7b7b7;
	font-size: 18px;
	font-weight: 500;
	transition: color 0.2s ease;
}
.setting .toggle.is-active {
	background: #333333;
}
.setting .toggle.is-active:after {
	content: "네";
	left: 23px;
	color: #ffffff;
}
.setting .toggle input[type="checkbox"] {
	width: 100%;
	height: 100%;
	z-index: 1;
/*	cursor: pointer;*/
	opacity: 0;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;	
}
.setting .toggle .toggle-circle {
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 50%;	
	background: #ffffff;
	transition: left 0.25s ease;
	border: 3px solid #e2e2e2;
	width: 36px;
	height: 36px;
	margin: -3px;
}
.setting .toggle.is-active .toggle-circle {
	left: 70px;
}
/* 토글 스위치 기본 css */
button.btn-light-grey {
	background: #666666 !important;
}

#cursor {
	display: block;
/*	display: none;*/
	position: absolute;
	top: 0;
	left: 0;
/*	z-index: 8000;*/
	z-index: 99999999999;
/*	cursor: none;*/
	pointer-events: none;
	text-align: center;
}
#cursor.default {
	width: 18px;
	height: 18px;
}
#cursor.default .dot {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -9px 0 0 -9px;
	z-index: 1;
	border-radius: 50%;
/*	background: #ea6625;*/
	background: rgba(234, 102, 37, 0.9);
	width: 18px;
	height: 18px;
	transition: transform 0.18s ease-out;
}
#cursor.default .guideT {
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 50%;
	z-index: 3;
	color: #ffffff;
	font-size: 12px;
	font-weight: 500;
	transform: translate(-50%, -50%);
	letter-spacing: 1px;
	line-height: 14px;
	text-transform: uppercase;
	opacity: 0;
	transition: all 0.12s ease;
}
#cursor.default .backDot {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -9px 0 0 -9px;
	z-index: 0;
	background: rgba(234, 102, 37, 0.9);
/*	background: rgba(234, 102, 37, 1);*/
	border-radius: 50%;
	width: 18px;
	height: 18px;
	transition: transform 0.21s ease-in-out, background 0.21s ease-in-out;
}
#cursor.ripple .backDot {
/*	background: rgba(65, 125, 225, 0.5);*/
/*	transform: scale(3.4);*/
/*	transform: scale(4);*/
	top: 50%;
	left: 50%;
/*	margin: -27px 0 0 -27px;*/
	animation-name: cursorRipple;
	animation-duration: 0.8s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}
#cursor.text .dot {
	transform: scale(3.4);
}
#cursor.text .guideT {
	opacity: 1;
	text-transform: lowercase;
}
#cursor.hidden {
	transition: opacity 0.3s ease;
	opacity: 0;
}
.paging-wrap {
	text-align: center;
	font-size: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.paging-wrap li {
	position: relative;
/*	margin-right: 30px;*/
	box-sizing: content-box;
}
.paging-wrap li:nth-last-child(2) {
	margin-right: 0;
}
.paging-wrap li a {
	display: inline-block;
	padding: 5px 15px;
	width: 100%;
	height: 100%;
	font-size: 14px;
	color: #666666;
}
.paging-wrap li.prev {
	height: 24px;
	background: url(../images/paging_prev.png) center / 11px 15px no-repeat;
	margin-right: 10px;
	box-sizing: content-box;
}
.paging-wrap li.next {
	height: 24px;
	background: url(../images/paging_next.png) center / 11px 15px no-repeat;
	margin-left: 10px;
	box-sizing: content-box;
}
.paging-wrap li.is-active a {
	color: #333333;
}
.paging-wrap li.is-active::after {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -7px;
	bottom: -5px;
	background: #f7dd30;
	width: 13px;
	height: 3px;
}

@keyframes cursorRipple {
	from {
		transform: scale(0);
		opacity: 1;
	}
	to {
/*		transform: scale(3.4);*/
		transform: scale(4);
		opacity: 0;
	}
}
/*공통 컴포넌트 */
/* jquery ui customize */
.ui-widget {
	font-family: inherit;
}
.ui-selectmenu-button.ui-button {
	height: 100%;
	vertical-align: top;
	outline: none;
	border: 1px solid #080808;
	cursor: none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
	border: 0;
	background: transparent;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
	background: transparent;
	font-weight: 400;
	color: #333333;
	border: 1px solid #080808;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
	color: #333333;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-radius: 0;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	border-radius: 0;
}
.ui-selectmenu-button.ui-button {
	width: 100%;
}
.ui-icon {
	display: none;
}
.ui-selectmenu-button.ui-button:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -6px;
	right: 15px;
	background: url(../images/select_arrow.png) 0 0 no-repeat;
	background-size: 14px 12px;
	width: 14px;
	height: 12px;
}
.ui-widget.ui-widget-content {
	border: 1px solid #333333;
	box-sizing: content-box;
	color: #ffffff;
}
.ui-selectmenu-menu .ui-menu {
	font-size: 16px;
	background: #333333;
/*	padding-left: 0.7em;*/
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
	background: #000;
	border: 1px solid #000;
}
.ui-menu .ui-menu-item-wrapper {
	padding: 8px .4em 8px 1.1em;
}
.ui-menu.overflow {
	height: 144px;
}

/* jquery ui customize */

/* swiper customize */
.swiper-container-horizontal>.swiper-pagination-progressbar, .swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
	top: inherit;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	background: #f7dd30;
	top: -1px;
	height: 4px;
}
.swiper-container-horizontal>.swiper-pagination-progressbar, .swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
	height: 2px;
}
.swiper-pagination-progressbar {
	background: rgba(255, 255, 255, 0.32);
}
.number-pagination {
	position: absolute;
	bottom: 99px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 0;
	z-index: 1;
}
.number-pagination span {
	font-size: 13px;
	color: #ffffff;
	font-weight: 900;
	display: inline-block;
	vertical-align: middle;
}
.number-pagination span.current {
	color: #f7dd30;
}
.number-pagination span.total::before {
	content: "/";
	display: inline-block;
	margin: 0 17px;
	vertical-align: top;
}
/* swiper customize */

/* animation */
.anim-blur {
	filter: blur(3px);
	transition: filter 0.5s ease-out 0.35s;
}
/* animation */