.content.main .paging-wrap {
	padding: 36px 0 98px;
}
.main-banner .box-content {
	position: relative;
}
.main-banner .box-content figcaption {
	display: block;
	position: absolute;
	top: 50%;
/*	top: 31%;*/
	left: 50%;
	width: 100%;
	z-index: 3;
	transform: translate(-50%, -50%);
	text-align: center;
}
.main-banner .box-content figcaption .brand {
	font-size: 20px;
	color: #f7dd30;
	letter-spacing: -0.5px;
	font-weight: 800;
}
.main-banner .box-content figcaption .title {
	font-size: 50px;
	color: #ffffff;
	font-weight: 800;
	margin: 15px auto 53px;
	text-transform: uppercase;
}
.main-banner .swiper-slide._02 figcaption {
	margin-left: 13%;
	display: inline-block;
	width: auto;
	text-align: left;
}
.main-banner .swiper-slide._02 .box-content .link span.view {
	margin-left: 11px;
}
/*
.main-banner .box-content figcaption .summary {
	font-size: 28px;
	color: #ffffff;
	font-weight: 300;
}
*/
.main-banner a .box-bg img {
	position: relative;
	transition: all 0.3s ease-in-out;
	z-index: 1;
}
.main-banner a:hover .box-bg img {
	opacity: 0.9;
}
.main-banner .box-bg {
	position: relative;
}
.main-banner .box-bg:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000;
	z-index: 0;
}
#.main-banner .box-content .link {
	display: block;
	/*
	position: absolute;
	left: 50%;
	bottom: 22.3%;
	transform: translate(-50%, 0);
	*/
	margin: 0 auto ;
	color: #ffffff;
	font-size: 13px;
	font-weight: 300;
	z-index: 1;
	text-align: center;
}
.main-banner .box-content .link .progress-current {
	display: inline-block;
	width: 60px;
	height: 60px;
}
.progress-current .prg-circle {
	stroke-dasharray: 175;
	stroke-dashoffset: 175;
	stroke-width: 2px;
	stroke: #ffffff;
}
.loaded .progress-current .prg-circle {
	transition: stroke-dashoffset 4s linear;
	stroke-dashoffset: 0;
}
.main-banner .box-content .link span.view {
	display: block;
	margin-top: 14px;
	color: #ffffff;
}
#main-banner-pagination {
	position: absolute;
	bottom: 72px;
	left: 50%;
	width: 120px;
	/*	text-align: right;*/
	z-index: 4;
	font-size: 0;
	transform: translateX(-50%);
}
/*
#main-banner-pagination .swiper-pagination-bullet {
	display: inline-block;
	width: 70px;
	background: #fffbf3;
	height: 1px;
	margin: 0;
	transition: all 0.65s ease-in-out;
	border-radius: 0;
	opacity: 1;
	font-size: 0;
	vertical-align: top;
	cursor: default;
}
#main-banner-pagination .swiper-pagination-bullet-active {
	width: 100%;
	background: #f7dd30;
}
*/
.content.main .list-container {
	max-width: 1400px;
	margin: 0 auto;
}
.content.main .list-container .best-slider {
	padding-top: 45px;
}
.content.main .list-container .best-slider .button-prev {
	position: absolute;
	top: 0;
	left: 17px;
	width: 53px;
	height: 17px;
	background: url(../images/arrow_left.png) center no-repeat;
	background-size: cover;
/*	cursor: pointer;*/
}
.content.main .list-container .best-slider .button-next {
	position: absolute;
	top: 0;
	right: 17px;
	width: 53px;
	height: 17px;
	background: url(../images/arrow_right.png) center no-repeat;
	background-size: cover;
/*	cursor: pointer;*/
}
.content.main .list-container.best-area .title-area {
	padding: 118px 0 0;
}
.content.main .list-container.best-area .video {
	padding-bottom: 0;
	width: 100%;
}
.content.main .list-container .title-area {
	padding: 118px 0 30px;
	text-align: center;
}
.content.main .list-container .list-title {
	position: relative;
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 46px;
}
.content.main .list-container .list-title:after {
	content: '';
	position: absolute;
	bottom: -32px;
	left: 50%;
	width: 18px;
	height: 2px;
	background: #000000;
	margin-left: -9px;
}
.content.main .list-container .list-title + a.view-all {
	font-size: 16px;
	font-weight: 700;
}
.content.main .list-container .video-list {
	max-width: 1400px;
/*	width: 1400px;*/
}
.content.main .list-container .read-more {
	margin: 23px auto 110px;
}
/* main */

/* sub */
.app-container.sub .header-container {
	background: #ffffff;
}
.app-container.sub .content > .inner {
	background: #f2f2f2;
	max-width: 1400px;
	margin: 0 auto;
	padding: 115px 0;
}
.app-container.sub .content.awards .inner {
	max-width: none;
	padding: 0;
}
/* video list */
.vid-list .search-wrapper {
	margin-bottom: 60px;
}
.vid-list .search-wrapper .wrap {
	position: relative;
}
.vid-list .search-wrapper .wrap:first-child {
	margin-bottom: 33px;
	font-size: 0;
}
.vid-list .search-wrapper .wrap .button-refresh {
	position: absolute;
	right: 0;
	top: 23px;
	height: 21px;
	padding-left: 34px;
	background: url(../images/search_refresh.png) left center no-repeat;
	background-size: 26px 21px;
	font-size: 15px;
}
.vid-list .search-wrapper .wrap .search-bar {
	width: 584px;
	display: block;
	margin: 0 auto;
	position: relative;
	background: url(../images/search_obj_black.png) 7px 8px no-repeat;
	background-size: 20px 20px;
}
.vid-list .search-wrapper .wrap .search-bar input[type="text"] {
	width: 100%;
	padding: 10px 0 10px 52px;
	font-size: 16px;
}
.vid-list .search-wrapper .wrap .search-bar:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #333333;
}
.vid-list .search-wrapper .sortings {
	font-size: 0;
}
.vid-list .search-wrapper .sortings > * {
	vertical-align: top;
}
.vid-list .search-wrapper .sortings .sort-list {
	display: inline-block;
	margin-right: 11px;
	font-size: 0;
}
.vid-list .search-wrapper .sortings .sort-list .sort {
	display: inline-block;
	width: 211px;
	height: 40px;
	/*	border: 1px solid #080808;*/
	font-size: 16px;
	font-weight: 400;
	margin-left: -1px;
}
.vid-list .search-wrapper .sortings .sort-list .sort:first-child {
	margin-left: 0;
}
.vid-list .search-wrapper .sortings .button-apply {
	width: 125px;
	height: 40px;
	background: #333333;
	color: #ffffff;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: -1px;
}
.vid-list > .inner > .title {
	font-size: 26px;
	font-weight: 700;
	color: #333333;
	text-align: center;
	margin-bottom: 90px;
}
/* video list */
/* awards */
.awards .awards-banner {
	position: relative;
	overflow-x: hidden;
	background: #838383;
}
.awards .awards-banner .banner {
	position: absolute;
	top: 0;
	height: 66.9vh;
	z-index: 1;
	transition: all 0.25s ease;
/*	transition: all 0.25s linear;*/
	background-size: cover !important;
}
.awards .awards-banner .clickEl {
	display: block;
	height: 100%;
}
.awards .awards-banner .clickEl figure {
	font-size: 0;
	text-align: center;
}
.awards .awards-banner .clickEl figure .view {
	display: block;
	height: auto;
	margin-top: 30px;
	padding-bottom: 16px;
	background: url(../images/awards_arrow_white.png) left bottom no-repeat;
	background-size: 50px 8px;
	color: #ffffff;
	font-size: 19px;
	font-weight: 300;
}
.awards .awards-banner .banner._01 {
	position: relative;
	left: 0;
	width: 63.85%;
	background: url(../images/cannes_off.png) left center / cover no-repeat;
/*	background-size: cover;*/
/*	z-index: 1;*/
}

.awards .awards-banner .banner._02 {
	left: 23.33%;
	width: 63.85%;
	background: url(../images/newyork_off.png) left center / cover no-repeat;
/*	background-size: cover;*/
/*	z-index: 2;*/
}
.awards .awards-banner .banner._03 {
	left: 56.19%;
	width: 63.85%;
	background: url(../images/clio_off.png) left center / cover no-repeat;
/*	background-size: cover;*/
/*	z-index: 3;*/
}
.awards .awards-banner .banner._01.is-active {
	background: url(../images/cannes_on.png) left center / cover no-repeat;
}
.awards .awards-banner .banner._02.is-active {
	background: url(../images/newyork_on.png) left center / cover no-repeat;
}
.awards .awards-banner .banner._03.is-active {
	background: url(../images/clio_on.png) left center / cover no-repeat;
}
.awards-banner .banner figcaption {
	display: inline-block;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	font-size: 0;
	text-align: left;
}
.awards-banner .banner figcaption .award-name {
	display: inline-block;
	position: relative;
	font-size: 55px;
	color: #f7dd30;
	font-weight: 600;
}
.awards-banner .banner figcaption .award-name::before {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background: #f7dd30;
	margin-bottom: 13px;
}
.awards-banner .banner figcaption .award-summ {
	font-size: 27px;
	color: #ffffff;
	font-weight: 600;
	margin: 17px auto 5px;
}
.awards-banner .banner figcaption .award-title {
	font-size: 27px;
	color: #ffffff;
	font-weight: 200;
}
.awards-banner .banner.is-active figcaption {
	transition: opacity 0.5s ease 0.2s;
	opacity: 1;
}
/*
.awards .awards-banner .banner._01 figcaption {top:50%;left: 50%;transform: translate(-50%, -50%);}
.awards .awards-banner .banner._02 figcaption {top:50%;left: 50%;transform: translate(-50%, -50%);}
.awards .awards-banner .banner._03 figcaption {top:50%;left: 50%;transform: translate(-50%, -50%);}
*/
.awards .cate-wrap {
	max-width: 1400px;
	margin: 87px auto 120px;
	padding: 0 93px;
	min-height: 300px;
	position: relative;
}
.awards .cate-wrap .main-cate .sort {
	width: 148px;
	height: 40px;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 40px;
}
.awards .cate-wrap .main-cate .sort #lc-order-date-button {
	line-height: 27px;
}
.awards .cate-wrap .main-cate li {
	margin-bottom: 19px;
}
.awards .cate-wrap .main-cate li:last-child {
	margin-bottom: 0;
}
.awards .cate-wrap .main-cate li a {
	font-size: 32px;
	color: #7f7f7f;
}
.awards .cate-wrap .sub-cate {
	position: absolute;
	right: 93px;
	top: 50px;
	text-align: right;
}
.awards .cate-wrap .sub-cate li {
	margin-bottom: 15px;
}
.awards .cate-wrap .sub-cate li:last-child {
	margin-bottom: 0;
}
.awards .cate-wrap .sub-cate li a {
	font-size: 25px;
	color: #7f7f7f;
}
.awards .cate-wrap .main-cate li a:hover,
.awards .cate-wrap .sub-cate li a:hover,
.awards .cate-wrap .main-cate li a.is-active,
.awards .cate-wrap .sub-cate li a.is-active {
	color: #333333;
}
.awards .list-container {
	max-width: 1400px;
	margin: 0 auto;
}
.awards .list-container .result-empty {
	padding-bottom: 220px;
}
.awards .list-container .result-empty p {
	font-size: 20px;
}
.awards .list-container .video-list {
	font-size: 0;
}
.awards .list-container .video-list .column {
	margin-right: 3.2%;
	width: 48.4%;
	display: inline-block;
	vertical-align: top;
}
.awards .list-container .video-list .column:last-child {
	margin-right: 0;
}
.awards .list-container .video-list .column .video {
	width: 100% !important;
}
/* awards */
/* video detail */
.app-container.sub .content.detail > .inner {
	max-width: 1200px;
	padding: 95px 0;
}
.app-container.sub .content.detail > .inner .list-back {
	display: block;
	font-size: 14px;
	padding-left: 22px;
	margin-bottom: 42px;
}
.app-container.sub .content.detail > .inner .list-back i {
	display: inline-block;
	margin-right: 7px;
}
.content.detail .info-wrap {
	position: relative;
	padding: 0 22px;
}
.content.detail .info-wrap .brand {
	font-size: 20px;
	color: #666666;
}
.content.detail .info-wrap .title {
	font-size: 30px;
	margin: 8px 0 14px;
	font-weight: 700;
}
.content.detail .info-wrap .date {
	font-size: 16px;
	color: #666666;
	font-weight: 600;
}
.content.detail .info-wrap .icon-wrap {
	position: absolute;
	bottom: 0;
	right: 22px;
	font-size: 0;
}
.content.detail .info-wrap .icon-wrap > span {
	display: inline-block;
	vertical-align: bottom;
	margin-right: 20px;
}
.content.detail .info-wrap .icon-wrap > span > span {
	display: inline-block;
	color: #333333;
	font-size: 16px;
	font-weight: 700;
}
.content.detail .info-wrap .icon-wrap span .icon {
	display: inline-block;
	margin-right: 6px;
}
.content.detail .info-wrap .icon-wrap > span:last-child {
	margin-right: 0;
}
.content.detail .player {
	margin: 30px 0 50px;
}
.content.detail .actions {
	font-size: 0;
	text-align: center;
	position: relative;
}
.content.detail .actions .action {
	display: inline-block;
	border-radius: 50%;
	border: 1px solid #d0d1d1;
	text-align: center;
	width: 59px;
	height: 59px;
	margin-right: 12px;
	font-size: 20px;
	vertical-align: top;
	position: relative;
}
.content.detail .actions .action span {
	color: #666666;
	font-weight: 600;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.content.detail .actions .action.share {
	margin-right: 0;
}
.content.detail .actions .action.like {
	background: url(../images/detail_action_like_off.png) center no-repeat;
	background-size: 28px auto;
}
.content.detail .actions .action.like:hover,
.content.detail .actions .action.like.is-active {
	background: url(../images/detail_action_like_on.png) center no-repeat;
	background-size: 28px auto;
}
.content.detail .actions .action.collect {
	background: url(../images/detail_action_collect_off.png) center no-repeat;
	background-size: 19px auto;
}
.content.detail .actions .action.collect:hover,
.content.detail .actions .action.collect.is-active {
	background: url(../images/detail_action_collect_on.png) center no-repeat;
	background-size: 19px auto;
}
.content.detail .actions .action.share {
	background: url(../images/detail_action_share_off.png) 40% 50% no-repeat;
	background-size: 32px auto;
}
.content.detail .actions .share-spread {
	position: absolute;
	right: 50%;
	top: 50%;
	margin: -11px -245px 0 0;
	font-size: 0;
}
.content.detail .actions .share-spread li {
	display: inline-block;
	margin-right: 45px;
	opacity: 0;
	transform: scale(0);
	transition: all 0.25s ease;
}
.content.detail .actions .share-spread li:nth-child(1) {transition-delay: 0s; width: 9px; height: 19px;}
.content.detail .actions .share-spread li:nth-child(2) {transition-delay: 0.1s; width: 16px; height: 16px;}
/*.content.detail .actions .share-spread li:nth-child(3) {transition-delay: 0.2s;}*/
.content.detail .actions .action.share.is-active + .share-spread li {
	transform: scale(1);
	opacity: 1;
}
.content.detail .block-comment {
	margin: 51px 0 109px;
	padding: 0 46px;
}
.content.detail .block-comment h5,
.content.detail .block-related h5 {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 18px;
}
.content.detail .block-comment .input-group {
	font-size: 0;
	margin-bottom: 39px;
}
.content.detail .block-comment .input-group > div {
	display: inline-block;
	vertical-align: top;
}
.content.detail .block-comment .input-group .text-box {
	width: 87%;
	height: 61px;
	margin-right: 0.7%;
}
.content.detail .block-comment .input-group .text-box input[type="text"] {
	width: 100%;
	height: 100%;
	border: 1px solid #dcdcdc;
	background: #ffffff;
	padding-left: 36px;
	font-size: 20px;
}
.content.detail .block-comment .input-group .button {
	width: 12.3%;
	height: 61px;
}
.content.detail .block-comment .input-group .button .button-submit {
	width: 100%;
	height: 100%;
	background: #333333;
	color: #ffffff;
	font-size: 18px;
}
.content.detail .block-comment .comment-list {
	padding: 0 13px 0 23px;
}
.content.detail .block-comment .comment-list .row {
	padding: 29px 0;
	position: relative;
	border-bottom: 1px solid #dcdcdc;
}
.content.detail .block-comment .comment-list .row .u-id {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 27px;
	padding: 0 13px;
}
.content.detail .block-comment .comment-list .row .u-comment {
	padding: 0 106px 0 13px;
	font-size: 16px;
	font-weight: 400;
	line-height: 21px;
}
.content.detail .block-comment .comment-list .row .date {
	position: absolute;
	top: 29px;
	right: 13px;
	font-size: 14px;
}
.content.detail .block-comment .comment-list .row .actions {
	position: absolute;
	top: 73px;
	right: 13px !important;
	transform: none;
	left: inherit;
}
.content.detail .block-comment .comment-list .row .actions .remove-comment {
	background: url(../images/close_x_black.png) center no-repeat;
	background-size: 18px 19px;
	width: 18px;
	height: 19px;
}
.content.detail .block-related {
	padding: 0 46px;
}
/* video detail */
/* my vvv */
.app-container.sub .content.user-page > .inner {
	max-width: none;
	padding: 0;
}
.content.user-page .user-info {
	position: relative;
	background: #333333;
	padding: 69px 0;
}
.content.user-page .user-info:after {
	content: "";
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}
.content.user-page .user-info > .wrapper {
	max-width: 930px;
	margin: 0 auto;
	display: flex;
	position: relative;
	z-index: 1;
}
.content.user-page .user-info .profile-img {
	width: 224px;
	height: 224px;
	border-radius: 50%;
	overflow: hidden;
}
.content.user-page .user-info .profile-img .default {
	background: #f7dd30;
	position: relative;
	height: 100%;
	text-align: center;
}
.content.user-page .user-info .profile-img .default span {
	display: block;
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 22px;
	font-weight: 500;
}
.content.user-page .user-info .profile-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.content.user-page .user-info .info-wrap {
	width: 577px;
	margin-left: 123px;
	color: #ffffff;
}
.content.user-page .user-info .info-wrap .wrap-user {
	border-bottom: 1px solid #7c7c7c;
	padding: 58px 15px 13px;
	width: 100%;
	font-size: 0;
	position: relative;
}
.content.user-page .user-info .info-wrap .wrap-user .user-id {
	display: inline-block;
	vertical-align: middle;
	font-size: 25px;
}
.content.user-page .user-info .info-wrap .wrap-user .user-id .u-id {
	vertical-align: middle;
}
.content.user-page .user-info .info-wrap .wrap-user .setting {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	text-align: center;
}
.content.user-page .user-info .info-wrap .wrap-user .setting img {
	width: 100%;
	height: 100%;
	display: inline-block;
	vertical-align: 1px;
}
.content.user-page .user-info .info-wrap .wrap-actions .follow-state {
	position: absolute;
	top: 38px;
	right: 15px;
	color: #ffffff;
	font-size: 20px;
	font-weight: 300;
}
.content.user-page .user-info .info-wrap .wrap-actions .follow-state .already {
	color: #f7dd30;
}
.content.user-page .user-info .info-wrap .wrap-actions .setting img {
	display: inline-block;
	vertical-align: middle;
}
.content.user-page .user-info .info-wrap .wrap-actions {
	position: relative;
	padding: 38px 15px 0;
}
.content.user-page .user-info .info-wrap .wrap-actions > div {
	display: inline-block;
	color: #ffffff;
	font-size: 20px;
	vertical-align: middle;
}
.content.user-page .user-info .info-wrap .wrap-actions > div .count {
	display: inline-block;
	font-weight: 600;
	margin-left: 5px;
}
.content.user-page .user-info .info-wrap .wrap-actions .f-wer {
	margin-right: 82px;
}
.content.user-page .user-info .info-wrap .wrap-actions .f-add {
	position: absolute;
	top: 21px;
	right: 15px;
}
.content.user-page .user-info .info-wrap .wrap-actions .f-add button {
	width: 149px;
	height: 57px;
	font-size: 23px;
	font-weight: 600;
	padding-right: 13px;
	color: #333333;
	background: url(../images/plus_icon_black.png) 116px 20px no-repeat #ffffff;
	background-size: 13px 14px;
}


.content.user-page .user-feed {
	margin: 122px auto;
	max-width: 1270px;
/*	border: 1px solid #969696;*/
	position: relative;
}
.content.user-page .result-empty {
	padding: 125px 0 0;
}
.content.user-page .result-empty .plus {
	display: block;
	margin: 0 auto 10px;
	width: 23px;
	height: 25px;
	background: url(../images/plus_icon_2325_black.png) center / 23px 25px no-repeat;
}
.content.user-page .user-feed .tab-wrap {
	position: absolute;
	left: 50%;
	width: 600px;
	margin-left: -300px;
	top: -67px;
	font-size: 0;
}
.content.user-page .user-feed .tab-wrap .tab {
	text-align: center;
	font-size: 23px;
	color: #7f7f7f;
	position: relative;
	width: 183px;
	margin-right: 25px;
	padding: 22px 0;
	display: inline-block;
}
.content.user-page .user-feed .tab:after {
	content: "";
	width: 100%;
	position: absolute;
	left: 0;
	bottom: -1px;
	background: #333333;
	height: 4px;
}
.content.user-page .user-feed .inner {
	padding: 55px 107px 200px;
	transition: all 0.6s ease-in-out;
}
.content.user-page .user-feed .aj-content {
	display: none;
}
.content.user-page .user-feed .aj-content.is-active {
	display: block;
}
.content.user-page .user-feed .aj-content .text-block {
	position: relative;
	margin-bottom: 47px;
	padding: 0 28px;
	text-align: center;
}
.content.user-page .user-feed .aj-content .text-block p {
	font-size: 18px;
	font-weight: 500;
}
.content.user-page .user-feed .collection .btn-create {
	display: block;
/*
	position: absolute;
	top: 40px;
	right: 111px;
*/
	margin: 0 auto 48px;
	width: 106px;
	height: 48px;
	padding-right: 22px;
	color: #ffffff;
	background: url(../images/plus_icon_white.png) 76px 50% no-repeat #333333;
	background-size: 13px 14px;
	font-size: 20px;
	font-weight: 500;
}
.content.user-page .user-feed .aj-content .album-list {
	overflow: hidden;
}
.content.user-page .user-feed .aj-content .album {
	width: 31%;
/*	width: 316px;*/
	float: left;
/*	margin-right: 53px;*/
	margin-right: 3.5%;
	margin-bottom: 20px;
}
.content.user-page .user-feed .aj-content .album:nth-of-type(3n) {
	margin-right: 0;
}
.content.user-page .user-feed .aj-content .album figure > a {
	display: block;
	position: relative;
	border-radius: 14px;
	overflow: hidden;
}
.content.user-page .user-feed .aj-content .album figure > a .over-layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transition: all 0.15s ease-out;
}
.content.user-page .user-feed .aj-content .album figure > a:hover .over-layer {
	opacity: 1;
	visibility: visible;
}
.content.user-page .user-feed .aj-content .album figure > a .over-layer .btn-delete {
	display: block;
	position: absolute;
	top: 17px;
	right: 14px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: url(../images/myvvv_album_delete.png) center / 12px 12px no-repeat #ffffff;
}
.content.user-page .user-feed .aj-content .album .frame {
	height: 510px;
}
.content.user-page .user-feed .aj-content .album .frame .thumbnail {
	height: 33.3%;
}
.content.user-page .user-feed .aj-content .album .frame .thumbnail:nth-of-type(2) {
	outline: 1px solid rgba(255, 255, 255, 0.9);
}
.content.user-page .user-feed .aj-content .album figcaption {
	position: relative;
	padding: 25px 22px;
}
.content.user-page .user-feed .aj-content .album figcaption span {
	display: block;
}
.content.user-page .user-feed .aj-content .album figcaption .title {
	font-size: 20px;
	font-weight: 600;
}
.content.user-page .user-feed .aj-content .album figcaption .desc {
	margin: 9px 0 14px;
	font-size: 16px;
	font-weight: 500;
	color: #666666;
}
.content.user-page .user-feed .aj-content .album figcaption .icon-wrap {
	font-size: 0;
}
.content.user-page .user-feed .aj-content .album figcaption .icon-wrap > div {
	display: inline-block;
	font-size: 0;
}
.content.user-page .user-feed .aj-content .album figcaption .icon-wrap > div span,
.content.user-page .user-feed .aj-content .album figcaption .icon-wrap > div i {
	display: inline-block;
	font-size: 15px;
	font-weight: 700;
}
.content.user-page .user-feed .aj-content .album figcaption .icon-wrap .like i {
	display: inline-block;
	background: url(../images/icon_favorite.png) center / 17px 16px no-repeat;
	width: 17px;
	height: 16px;
	margin-right: 4px;
	vertical-align: -1px;
}
.content.user-page .user-feed .aj-content .album figcaption .secret-mode {
	position: absolute;
	top: 25px;
	right: 10px;
	background: url(../images/myvvv_secret_icon.png) center / cover no-repeat;
	width: 16px;
	height: 20px;
}

/* 컬렉션 상세 */
.content.user-page .collection-detail {
	margin: 111px auto 191px;
	max-width: 1270px;
}
.content.user-page .collection-detail .collection-info {
	position: relative;
	margin-bottom: 16px;
	padding: 0 130px;
}
.content.user-page .collection-detail .collection-info .texts {
	margin-bottom: 17px;
}
.content.user-page .collection-detail .collection-info .texts .title {
	display: inline-block;
	font-size: 25px;
	font-weight: 700;
	margin-right: 28px;
}
.content.user-page .collection-detail .collection-info .texts .summary {
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
}
.content.user-page .collection-detail .collection-info .texts .secret-mode {
	display: inline-block;
	margin-left: 8px;
	background: url(../images/myvvv_secret_icon.png) center / 16px 20px no-repeat;
	width: 16px;
	height: 20px;
	vertical-align: bottom;
}
.content.user-page .collection-detail .semi-container {
	position: relative;
	padding: 52px 117px;
/*	border: 1px solid #969696;*/
}
.content.user-page .collection-detail .collection-info .counts span.wrap {
	display: inline-block;
	margin-right: 19px;
	vertical-align: top;
}
.content.user-page .collection-detail .collection-info .counts span.wrap span,
.content.user-page .collection-detail .collection-info .counts span.wrap i {
	display: inline-block;
	font-size: 15px;
	font-weight: 500;
	color: #5e5f5f;
}
.content.user-page .collection-detail .collection-info .counts .count {
	vertical-align: bottom;
}
.content.user-page .collection-detail .collection-info .counts span.wrap i {
	margin-right: 9px;
	vertical-align: middle;
}
.content.user-page .collection-detail .collection-info .counts .icon.video {
	background: url(../images/myvvv_icon_vid.png) center / 27px 18px no-repeat;
	width: 27px;
	height: 18px;
}
.content.user-page .collection-detail .collection-info .counts .icon.favor {
	background: url(../images/myvvv_icon_favorite.png) center / 17px 16px no-repeat;
	width: 17px;
	height: 16px;
}
.content.user-page .collection-detail .collection-info .action-wrap {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	text-align: right;
}
.content.user-page .collection-detail .collection-info .action-wrap .inner {
	position: relative;
	max-width: 1035px;
	margin: 0 auto;
	font-size: 0;
}
.content.user-page .collection-detail .collection-info .action-wrap .list-back {
	position: absolute;
	top: -30px;
	right: 0;
	font-size: 16px;
	color: #666666;
	font-weight: 700;
}
.content.user-page .collection-detail .collection-info .action-wrap .list-back i {
	display: inline-block;
	margin-right: 10px;
	font-style: normal;
}
.content.user-page .collection-detail .collection-info .action-wrap .myaction {
	padding-top: 25px;
}
.content.user-page .collection-detail .collection-info .action-wrap .myaction button {
	width: 30px;
	height: 30px;
	margin-right: 24px;
	color: #666666;
	font-size: 16px;
	font-weight: 700;
	border-radius: 50%;
}
.content.user-page .collection-detail .collection-info .action-wrap .myaction .edit {
	background: url(../images/myvvv_action_icon_edit.png) center / cover no-repeat;
}
.content.user-page .collection-detail .collection-info .action-wrap .myaction .add {
	background: url(../images/myvvv_action_icon_add.png) center / cover no-repeat;
}
.content.user-page .collection-detail .collection-info .action-wrap .myaction .delete {
	position: relative;
	background: url(../images/myvvv_action_icon_delete.png) center / cover no-repeat;
/*	transition: color 0.6s ease;*/
}
.content.user-page .collection-detail.check-mode .collection-info .action-wrap .myaction button {
	display: none;
}
.content.user-page .collection-detail.check-mode .collection-info .action-wrap .myaction .delete {
	display: inline-block;
	background: url(../images/myvvv_action_icon_delete_complete.png) center / cover no-repeat;
}
.content.user-page .collection-detail .collection-info .action-wrap button:last-child {
	margin-right: 0;
}
.content.user-page .collection-detail .collection-info .action-wrap .anyaction {
	display: inline-block;
	position: relative;
}
.content.user-page .collection-detail .collection-info .action-wrap .anyaction > * {
	vertical-align: middle;
}
.content.user-page .collection-detail .collection-info .action-wrap .anyaction .favor {
	width: 34px;
	height: 34px;
	background: url(../images/myvvv_icon_favorite.png) 50% / 23px 22px no-repeat;
	margin-right: 8px;
}
.content.user-page .collection-detail .collection-info .action-wrap .anyaction .favor.is-already {
	background: url(../images/myvvv_icon_favorite_on.png) 50% / 23px 22px no-repeat;
}
.content.user-page .collection-detail .collection-info .action-wrap .anyaction .secret {
	width: 34px;
	height: 34px;
	background: url(../images/myvvv_icon_secret.png) 50% / 16px 23px no-repeat;
	margin-right: 20px;
}
.content.user-page .collection-detail .collection-info .action-wrap .anyaction .secret.is-already {
	background: url(../images/myvvv_icon_secret_on.png) 50% / 16px 23px no-repeat;
}
.content.user-page .collection-detail .collection-info .action-wrap .anyaction .link-own {
	display: inline-block;
	position: relative;
	width: 66px;
	height: 66px;
	background: #f7dd30;
	border-radius: 50%;
	text-align: center;
	margin-right: 0;
}
.content.user-page .collection-detail .collection-info .action-wrap .anyaction .link-own span {
	display: block;
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #666666;
	font-size: 10px;
}
.content.user-page .collection-detail .list-container .read-more {
	margin: 0 auto 40px;
}

.content.user-page .collection-detail .list-container .video .check-layer {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	z-index: -1;
}
.content.user-page .collection-detail .list-container .video .check-layer input[type="checkbox"] {
	width: 100%;
	height: 100%;
	opacity: 0;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}
.content.user-page .collection-detail .list-container .video .check-layer .checkbox {
	position: absolute;
	top: 6px;
	left: 6px;
	background: transparent;
	width: 18px;
	height: 18px;
	border: 1px solid #ffffff;
	z-index: 1;
	transition: all 0.12s ease;
}
.content.user-page .collection-detail .list-container .video .check-layer input[type="checkbox"]:checked + .checkbox {
	background: #f7dd30;
	border: 1px solid #f7dd30;
}
.content.user-page .collection-detail.check-mode .list-container .video .check-layer {
	opacity: 1;
	z-index: 1;
}
.content.user-page .collection-detail .list-container .video figure {
	position: relative;
}
/* 컬렉션 상세 */
/* 컬렉션 영상 추가 */
.content .collection-detail.add-video > .title {
	position: relative;
	margin-bottom: 82px;
	text-align: center;
	font-size: 0;
}
.content .collection-detail.add-video > .title:before {
	content: "";
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-bottom: 20px;
	background: url(../images/myvvv_action_icon_add.png) center / 30px 30px no-repeat;
}
.content .collection-detail.add-video > .title h3 {
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 17px;
}
.content .collection-detail.add-video > .title p {
	font-size: 18px;
	font-weight: 500;
}
.content .collection-detail.add-video .semi-container {
	border: 0;
	padding: 0 117px;
}
.content .collection-detail .list-container .video .thumbnail {
	position: relative;
}
.content .collection-detail.add-video .list-container .video .check-layer {
	opacity: 0;
	z-index: -1;
}
.content .collection-detail.check-mode .list-container .video .check-layer {
	opacity: 1;
	z-index: 1;
}
.content .collection-detail .list-container .video .thumbnail:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: transparent;
	transition: background 0.24s linear;
}
.content .collection-detail.check-mode .list-container .video .thumbnail:after {
	background: rgba(0, 0, 0, 0.15);
}
.content .collection-detail.add-video .list-container .btn-apply {
	display: block;
	width: 162px;
	height: 57px;
	margin: 0 auto;
	background: #333333;
	color: #ffffff;
	font-size: 24px;
	font-weight: 500;
}
/* 컬렉션 영상 추가 */


/* my vvv */
/* login */
.content.login {
	height: calc(100vh - 296px);
}
.content.login > .inner {
	padding: 155px 0 0;
}
.content.login .title {
	text-align: center;
}
.content.login .title h3 {
	font-size: 35px;
	font-weight: 600;
	padding-bottom: 47px;
	position: relative;
}
.content.login .title h3:after {
	content: "";
	position: absolute;
	bottom: 13px;
	left: 50%;
	width: 18px;
	height: 2px;
	margin-left: -9px;
	background: #000000;
}
.content.login .title p {
	font-size: 21px;
}
.content.login .button-wrap {
	width: 410px;
	margin: 91px auto 0;
}
.content.login .button-wrap button {
	display: block;
	width: 100%;
	height: 77px;
	margin-bottom: 15px;
	color: #ffffff;
	font-size: 24px;
	text-align: right;
	padding-right: 101px;
}
.content.login .button-wrap button:last-child {
	margin-bottom: 0;
}
.content.login .button-wrap button.fb {
	background: url(../images/login_fb.png) 107px 50% no-repeat #333333;
	background-size: 18px auto;
}
.content.login .button-wrap button.kt {
	background: url(../images/login_kt.png) 98px 50% no-repeat #333333;
	background-size: 35px auto;
}
/* login */
/* join */
.content.join > .inner > .title {
	font-size: 34px;
	font-weight: 800;
	text-align: center;
	margin-bottom: 46px;
}
.content.join .block-wrap {
	margin-bottom: 100px;
}
.content.join .block-terms {
	width: 1030px;
	margin: 0 auto;
	text-align: center;
}
.content.join .block-terms:first-child {
	margin-bottom: 99px;
}
.content.join .block-terms .title {
	position: relative;
	font-size: 21px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 34px;
}
.content.join .block-terms .title:before {
	content: "";
	position: absolute;
	top: -11px;
	left: 50%;
	width: 18px;
	height: 2px;
	margin-left: -9px;
	background: #333333;
}
.content.join .block-terms .scroll-box {
	background: #ffffff;
	height: 393px;
	overflow: hidden;
	padding: 51px 66px 51px 31px;
}
.content.join .block-terms .scroll-box .inner {
	height: 100%;
	overflow-y: auto;
	font-size: 18px;
	line-height: 23px;
	font-weight: 700;
	text-align: left;
	word-break: break-word;
	white-space: normal;
}
.content.join .agree {
	display: inline-block;
	margin-top: 24px;
/*	cursor: pointer;*/
	position: relative;
	font-size: 0;
}
.content.join .agree label,
.content.join .agree .checkbox {
	display: inline-block;
}
.content.join .agree label {
/*	cursor: pointer;*/
	margin-right: 17px;
	vertical-align: middle;
	font-size: 20px;
	font-weight: 700;
}
.content.join .agree input[type="checkbox"] {
	position: absolute;
	background: none;
	opacity: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 31px;
	height: 31px;
	vertical-align: middle;
	z-index: 1;
}
.content.join .agree .checkbox {
	width: 31px;
	height: 31px;
	border-radius: 50%;
	border: 2px solid #333333;
	vertical-align: middle;
	z-index: 0;
/*	background: center 90% transparent;*/
	background: url(../images/join_checked.png) center / 0px 0px no-repeat transparent;
	transition: background 0.1s ease;
}
.content.join .agree input[type="checkbox"]:checked + .checkbox {
	background: url(../images/join_checked.png) center / 19px 11px no-repeat transparent;
}
.content.join .block-input {
	width: 600px;
	margin: 0 auto 60px;
}
.content.join .block-input .input-group {
	padding: 10px 0;
	border-bottom: 1px solid #666666;
	font-size: 0;
}
.content.join .block-input .input-group .guide,
.content.join .block-input .input-group .input {
	display: inline-block;
	font-size: 27px;
	height: 27px;
}
.content.join .block-input .input-group .guide {
	width: 186px;
}
.content.join .block-input .input-group .guide span {
	font-size: 20px;
	color: #666666;
}
.content.join .block-input .input-group .input {
	width: 414px;
}
.content.join .block-input .input-group .input input[type="text"] {
	height: 100%;
	font-size: 27px;
}
.content.join .block-input .agree {
	margin: 20px 0 0 249px;
}
.content.join .block-input.nickname {
	margin-bottom: 120px;
}
.content.join .block-input.nickname span.guide {
	display: inline-block;
	margin-top: 23px;
	font-size: 20px;
	color: #666666;
	font-weight: 500;
}
.content.join .btn-join {
	display: block;
	width: 176px;
	height: 57px;
	color: #ffffff;
	font-size: 24px;
	font-weight: 500;
	background: #333333;
	margin: 0 auto;
}
/* join */



/* 팝업 개별코드 */
.popup.send-mail {
	width: 782px;
	background: #9b9b9b;
}
.popup.send-mail .inner {
	padding: 88px 100px 57px 88px;
}
.popup.send-mail .inner .title {
	font-size: 22px;
	font-weight: 700;
	color: #ffffff;
	padding-left: 5px;
	margin-bottom: 42px;
}
.popup.send-mail .inner .title i {
	display: inline-block;
	background: url(../images/contact_mail_white.png) 0 0 / 30px 23px no-repeat;
	width: 30px;
	height: 23px;
	margin-right: 11px;
}
.popup.send-mail .inner .title i,
.popup.send-mail .inner .title span {
	vertical-align: middle;
}
.popup.send-mail .input-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 26px;
}
.popup.send-mail .input-wrap .input-group:last-child {
	margin-bottom: 0;
}
.popup.send-mail .input-wrap .input-group:last-child .guide {
	align-self: flex-start;
}
.popup.send-mail .input-group .guide {
	font-size: 16px;
	font-weight: 700;
	color: #ffffff;
}
.popup.send-mail .input-group .input {
	width: 488px;
}
.popup.send-mail .input-group .input input[type="text"] {
	background: rgba(255, 255, 255, 0.8);
	padding-left: 13px;
	font-size: 16px;
	height: 52px;
	width: 100%;
}
.popup.send-mail .input-group .input textarea {
	background: rgba(255, 255, 255, 0.8);
	padding: 13px;
	font-size: 16px;
	height: 271px;
	width: 100%;
	resize: none;
}
.popup.send-mail .btn-send {
	display: block;
	margin: 22px 0 0 auto;
	background: #333333;
	width: 136px;
	height: 52px;
	color: #ffffff;
	font-size: 19px;
	font-weight: 700;
}
.popup.mycollection {
	width: 739px;
}
.popup.mycollection .inner {
	padding: 95px 34px 82px;
	text-align: center;
}
.popup.mycollection .title {
	text-align: left;
	border-bottom: 1px solid #c8c8c8;
	padding-bottom: 29px;
}
.popup.mycollection .title h5 {
	padding-left: 38px;
	font-size: 23px;
	font-weight: 700;
}
.popup.mycollection .input-area {
	margin: 72px 0 39px;
	display: inline-block;
}
.popup.mycollection .input-area .input-group {
	text-align: left;
	font-size: 0;
	margin-bottom: 25px;
}
.popup.mycollection .input-area .input-group:last-child {
	margin-bottom: 0;
}
.popup.mycollection .input-area .input-group .guide {
	display: inline-block;
	width: 60px;
	vertical-align: middle;
	font-size: 20px;
}
.popup.mycollection .input-area .input-group .input {
	display: inline-block;
	width: 486px;
	vertical-align: middle;
}
.popup.mycollection .input-area .input-group input[type="text"] {
	width: 100%;
	border-bottom: 1px solid #666666;
	padding: 8px 13px;
	font-size: 20px;
}
.popup.mycollection .input-area .input-group input[type="text"]::placeholder {
	color: #b7b7b7;
}
.popup.mycollection .setting {
	padding-right: 52px;
	margin-bottom: 51px;
	text-align: right;
	font-size: 0;
}
.popup.mycollection .setting .secret-guide {
	display: inline-block;
	margin-right: 12px;
	font-size: 20px;
	line-height: 20px;
	vertical-align: middle;
	padding-left: 28px;
	background: url(../images/myvvv_secret_icon.png) 0 0 / 16px 20px no-repeat;
}
.popup.mycollection .setting .toggle {
	position: relative;
	display: inline-block;
	width: 106px;
	height: 36px;
	border: 3px solid #e2e2e2;
	border-radius: 17px;
	vertical-align: middle;
	background: #ffffff;
	transition: background-color .25s cubic-bezier(.25,.375,.1,.975);
}
.popup.mycollection .setting .toggle:after {
	content: "아니요";
	position: absolute;
	left: 41px;
	top: 50%;
	transform: translateY(-50%);
	color: #b7b7b7;
	font-size: 18px;
	font-weight: 500;
	transition: color 0.2s ease;
}
.popup.mycollection .setting .toggle.is-active {
	background: #333333;
}
.popup.mycollection .setting .toggle.is-active:after {
	content: "네";
	left: 23px;
	color: #ffffff;
}
.popup.mycollection .setting .toggle input[type="checkbox"] {
	width: 100%;
	height: 100%;
	z-index: 1;
/*	cursor: pointer;*/
	opacity: 0;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.popup.mycollection .setting .toggle .toggle-circle {
	border: 3px solid #e2e2e2;
	width: 36px;
	height: 36px;
	margin: -3px;
}
.popup.mycollection .setting .toggle.is-active .toggle-circle {
	left: 70px;
}
.popup.mycollection .button-wrap button {
	width: 151px;
	height: 57px;
	color: #ffffff;
	font-size: 24px;
	font-weight: 500;
	background: #333333;
	margin-right: 23px;
}
.popup.mycollection .button-wrap button:last-child {
	margin-right: 0;
}
.popup.mycollection .button-wrap button.btn-light-grey {
	background: #666666;
}

.popup.collection-pick {
	width: 909px;
}
.popup.collection-pick .inner {
	padding: 75px 35px 40px;
}
.popup.collection-pick .title {
	padding: 27px 0;
	border-bottom: 1px solid #c8c8c8;
}
.popup.collection-pick .title h5 {
	padding: 0 42px;
	font-size: 43px;
	font-weight: 500;
}
.popup.collection-pick .content {
	padding-left: 42px;
	font-size: 0;
	height: 532px;
}
.popup.collection-pick .content > .block {
	display: inline-block;
	vertical-align: top;
}
.popup.collection-pick .content .video-info {
	width: 377px;
	margin: 78px 72px 0 0;
}
.popup.collection-pick .content .video-info .thumbnail {
	width: 100%;
	margin-bottom: 57px;
}
.popup.collection-pick .content .video-info figcaption {
	padding-bottom: 78px;
}
.popup.collection-pick .content .video-info figcaption .vid-brand {
	font-size: 20px;
	font-weight: 500;
	color: #666666;
}
.popup.collection-pick .content .video-info figcaption .vid-title {
	margin: 10px 0 8px;
	font-size: 25px;
	font-weight: 800;
}
.popup.collection-pick .content .video-info figcaption .vid-date {
	font-size: 20px;
	font-weight: 500;
	color: #666666;
}
.popup.collection-pick .content .collection-info {
	width: 338px;
}
.popup.collection-pick .content .collection-info > h6 {
	padding: 30px 0 20px;
	font-size: 30px;
	font-weight: 700;
}
.popup.collection-pick .content .collection-info .collection-list {
/*	height: 375px;*/
	height: 275px;
	overflow: hidden;
}
.popup.collection-pick .content .collection-info .collection-list .scroll-box {
	height: 100%;
	overflow-y: auto;
}
.popup.collection-pick .content .collection-info .collection-list .scroll-box ul li {
	display: block;
	padding: 16px 60px 16px 27px;
/*	cursor: pointer;*/
	background: none 294px 50% #ffffff;
	transition: background 0.2s ease;
}
.popup.collection-pick .content .collection-info .collection-list .scroll-box ul li span {
	font-size: 23px;
	font-weight: 500;
	vertical-align: middle;
}
.popup.collection-pick .content .collection-info .collection-list .scroll-box ul li:hover {
	background: url(../images/join_checked.png) 294px 50% / 19px 11px no-repeat rgba(226, 226, 226, 0.2);
}
.popup.collection-pick .content .collection-info .collection-list .scroll-box ul li .secret {
	display: none;
	background: url(../images/secret_icon_lightgrey.png) 0 0 / cover no-repeat;
	width: 16px;
	height: 22px;
	margin-left: 12px;
	vertical-align: middle;
}
.popup.collection-pick .content .collection-info .collection-list .scroll-box ul li.is-secret .secret {
	display: inline-block;
}
.popup.collection-pick .content .collection-info .btn-add {
	border-top: 1px solid #ededed;
	display: flex;
	width: 100%;
	padding: 16px 0;
	margin-top: 17px;
	align-items: center;
}
.popup.collection-pick .content .collection-info .btn-add span {
	font-size: 23px;
	font-weight: 700;
	display: inline-block;
}
.popup.collection-pick .content .collection-info .btn-add .icon {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: url(../images/plus_icon_2325.png) center / 23px 25px no-repeat #333333;
	margin-right: 16px;
}
.popup.collection-pick .content .collection-setting {
	width: 302px;
	padding-top: 29px;
}
.popup.collection-pick .content .collection-setting .input-group {
	font-size: 0;
}
.popup.collection-pick .content .collection-setting .input-group:first-child {
	margin-bottom: 23px;
}
.popup.collection-pick .content .collection-setting .input-group .guide {
	display: inline-block;
	width: 59px;
	font-size: 24px;
}
.popup.collection-pick .content .collection-setting .input-group .input {
	display: inline-block;
	width: 243px;
}
.popup.collection-pick .content .collection-setting .input-group .input input[type="text"] {
	width: 100%;
	padding: 7px 0;
	font-size: 24px;
	color: #b7b7b7;
	border-bottom: 1px solid #666666;
}
.popup.collection-pick .content .collection-setting .setting {
	margin: 48px 0 75px;
}
.popup.collection-pick .content .collection-setting .setting .secret-guide {
	margin-right: 0;
	font-size: 29px;
	line-height: 1;
	padding-right: 35px;
	padding-left: 0;
	background: url(../images/secret_icon_lightgrey.png) 100% 50% / 16px 22px no-repeat;
	font-weight: 700;
}
.popup.collection-pick .content .collection-setting .setting .toggle {
	display: block;
	margin-top: 20px;
}
.popup.collection-pick .content .collection-setting .button-wrap button {
	width: 136px;
	height: 57px;
	background: #666666;
	color: #ffffff;
	font-size: 24px;
	font-weight: 500;
}
.popup.collection-pick .content .collection-setting .button-wrap button:last-child {
	background: #333333;
	margin-left: 30px;
}

.popup.profile-edit {
	width: 910px;
}
.popup.profile-edit > .inner {
	padding: 151px 54px 153px;
}
.popup.profile-edit > .inner > .title {
	text-align: left;
	border-bottom: 1px solid #c8c8c8;
	padding: 0 0 27px 42px;	
}
.popup.profile-edit > .inner > .title h5 {
	font-size: 23px;
	font-weight: 700;
}
.popup.profile-edit .content {
	margin-top: 63px;
	padding: 0 51px;
	font-size: 0;
}
.popup.profile-edit .area-picture {
	display: inline-block;
	text-align: center;
	font-size: 0;
	width: 224px;
	margin-right: 49px;
}
.popup.profile-edit .area-picture .pic-wrap {
	position: relative;
}
.popup.profile-edit .area-picture .picture {
	display: block;
	height: 224px;
	margin-bottom: 27px;
	border-radius: 50%;
	border: 1px solid #dcdcdc;
	overflow: hidden;
}
.popup.profile-edit .area-picture .picture .default {
	background: #f7dd30;
	position: relative;
	height: 100%;
	text-align: center;
}
.popup.profile-edit .area-picture .picture .default span {
	display: block;
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 22px;
	font-weight: 500;
}
.popup.profile-edit .area-picture .picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.popup.profile-edit .area-picture .btn-edit {
	font-size: 24px;
	font-weight: 500;
}
.popup.profile-edit .area-picture .btn-edit label {
	display: inline-block;
	padding-right: 35px;
	line-height: 30px;
	background: url(../images/myvvv_action_icon_edit.png) 100% 50% / 23px 23px no-repeat;
}
.popup.profile-edit .area-picture .btn-edit input[type="file"] {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
/*	cursor: pointer;*/
	opacity: 0;
	width: 100%;
}
.popup.profile-edit .area-info {
	display: inline-block;
	vertical-align: top;
	margin-top: 40px;
}
.popup.profile-edit .area-info .input-group {
	font-size: 0;
	margin-bottom: 55px;
}
.popup.profile-edit .area-info .input-group:last-child {
	margin-bottom: 0;
}
.popup.profile-edit .area-info .input-group .guide,
.popup.profile-edit .area-info .input-group .input {
	display: inline-block;
	height: 40px;
	line-height: 26px;
	vertical-align: top;
}
.popup.profile-edit .area-info .input-group .guide {
	width: 147px;
	font-size: 24px;
	font-weight: 500;
	padding: 7px 0;
}
.popup.profile-edit .area-info .input-group .input {
	position: relative;
	width: 280px;
	border-bottom: 1px solid #666666;
	padding: 7px 0;
}
.popup.profile-edit .area-info .input-group .input i {
	position: absolute;
	display: block;
	left: -30px;
	top: 13px;
}
.popup.profile-edit .area-info .input-group .input i.fb {
	width: 14px;
	height: 25px;
	background: url(../images/myvvv_profile_fb.png) 0 50% / cover no-repeat;
}
.popup.profile-edit .area-info .input-group .input i.kt {
	width: 22px;
	height: 20px;
	background: url(../images/detail_share_kt.png) 0 50% / cover no-repeat;
}
.popup.profile-edit .area-info .input-group .input input[type="text"] {
	width: 100%;
	font-size: 23px;
	font-weight: 500;
}
.popup.profile-edit .area-info .input-group.secret .guide {
	vertical-align: top;
	background: url(../images/secret_icon_lightgrey.png) 123px 50% / 16px 21px no-repeat
}
.popup.profile-edit .area-info .input-group.secret .input {
	vertical-align: top;
	border-bottom: 0;
	padding-top: 3px;
}
.popup.profile-edit .area-info .input-group .toggle {
	display: block;
	margin-left: 3px;
}
.popup.profile-edit .button-wrap {
	margin-top: 74px;
	text-align: right;
}
.popup.profile-edit .button-wrap button {
	width: 135px;
	height: 57px;
	font-size: 24px;
	font-weight: 500;
	background: #333333;
	color: #ffffff;
}
.popup.profile-edit .button-wrap button:last-child {
	margin-left: 30px;
}

.popup.search-friends {
	width: 672px;
}
.popup.search-friends > .inner {
	padding: 79px 35px 95px;
}
.popup.search-friends > .inner > .title {
	text-align: left;
	border-bottom: 1px solid #c8c8c8;
	padding: 0 0 28px 23px;	
}
.popup.search-friends > .inner > .title h5 {
	font-size: 23px;
	font-weight: 700;
}
.popup.search-friends .search-wrap {
	margin-top: 70px;
	text-align: center;
}
.popup.search-friends .search-wrap .search-bar {
	position: relative;
	width: 428px;
	margin: 0 auto;
	padding: 7px 0;
	border-bottom: 1px solid #c8c8c8;
}
.popup.search-friends .search-wrap .search-bar input[type="text"] {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 19px;
	font-weight: 500;
}
.popup.search-friends .search-wrap .search-bar input[type="text"]::placeholder {
	color: #adadad;
}
.popup.search-friends .search-wrap .search-bar .placeholder-icon {
	display: block;
	width: 25px;
	height: 25px;
	position: absolute;
	top: 50%;
	right: 85px;
	margin-top: -12px;
	background: url(../images/search_obj_lightgrey.png) 0 0 / 25px 25px no-repeat;
	transition: all 0.1s ease;
}
.popup.search-friends .search-wrap .search-bar input[type="text"]:focus + .placeholder-icon {
	opacity: 0;
}
.popup.search-friends .search-result {
	width: 428px;
	height: 430px;
/*	padding: 0 38px 0 0;*/
	margin: 33px auto 0;
	overflow-y: hidden;
}
.popup.search-friends .search-result .scroll-box {
	height: 100%;
	padding-right: 20px;
	overflow-y: auto;
}
.popup.search-friends .search-result .row {
	position: relative;
	padding: 14px 0;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.popup.search-friends .search-result .row .img {
	width: 75px;
	height: 75px;
	margin-right: 23px;
	border-radius: 50%;
	overflow: hidden;
	flex-grow: 0;
	flex-shrink: 0;
}
.popup.search-friends .search-result .row .img img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
	max-width: none;
}
.popup.search-friends .search-result .row .img .default {
	background: #f7dd30;
	position: relative;
	height: 100%;
	text-align: center;
}
.popup.search-friends .search-result .row .img .default span {
	display: block;
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 14px;
	font-weight: 500;
}
.popup.search-friends .search-result .row .info {
	text-align: left;
	font-size: 20px;
	font-weight: 700;
}
.popup.search-friends .search-result .row .info .name {
	margin-bottom: 15px;
}
.popup.search-friends .search-result .row .info .counts {
	font-size: 0;
}
.popup.search-friends .search-result .row .info .counts .wrap {
	display: inline-block;
	margin-right: 14px;
}
.popup.search-friends .search-result .row .info .counts .wrap i {
	width: 13px;
	height: 13px;
	margin-right: 3px;
}
.popup.search-friends .search-result .row .info .counts .wrap i,
.popup.search-friends .search-result .row .info .counts .wrap span {
	display: inline-block;
	font-size: 16px;
	font-style: normal;
}
.popup.search-friends .search-result .row .info .counts .like i {
	background: url(../images/icon_like.png) 0 0 / 13px 13px no-repeat;
}
.popup.search-friends .search-result .row .info .counts .collection i {
	background: url(../images/icon_collect.png) 0 0 / 13px 13px no-repeat;
}
.popup.search-friends .search-result .row .action {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
.popup.search-friends .search-result .row .action .add {
	width: 40px;
	height: 39px;
	background: url(../images/search_friend_add.png) 0 0 / cover no-repeat;
}
.popup.search-friends .search-result .row .action .already {
	width: 40px;
	height: 38px;
	background: url(../images/search_friend_already.png) 0 0 / cover no-repeat;
}

.popup.follow-state {
	width: 672px;
}
.popup.follow-state > .inner {
	padding: 74px 35px;
}
.popup.follow-state .area-tab {
	border-bottom: 1px solid #c8c8c8;
}
.popup.follow-state .area-tab .tab-wrap {
	font-size: 0;
	text-align: center;
}
.popup.follow-state .area-tab .tab-wrap .tab {
	display: inline-block;
	position: relative;
	width: 108px;
	padding: 17px 0;
	color: #c8c8c8;
	font-size: 23px;
	font-weight: 700;
	margin-right: 20px;
}
.popup.follow-state .area-tab .tab-wrap .tab::after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	width: 100%;
	height: 2px;
	background: #333333;
	transform: scaleY(0);
}
.popup.follow-state .area-list {
	padding: 0 87px;
	margin: 56px auto 0;
	overflow-y: hidden;
	height: 382px;
}
.popup.follow-state .area-list .scroll-box.is-active {
	display: block;
}
.popup.follow-state .area-list .scroll-box {
	display: none;
	height: 100%;
	padding-right: 20px;
	overflow-y: auto;
}
.popup.follow-state .area-list .row {
	position: relative;
	padding: 11px 0;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.popup.follow-state .area-list .row .img {
	width: 75px;
	height: 75px;
	margin-right: 23px;
	border-radius: 50%;
	overflow: hidden;
	flex-grow: 0;
	flex-shrink: 0;
}
.popup.follow-state .area-list .row .img img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
	max-width: none;
}
.popup.follow-state .area-list .row .img .default {
	background: #f7dd30;
	position: relative;
	height: 100%;
	text-align: center;
}
.popup.follow-state .area-list .row .img .default span {
	display: block;
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 14px;
	font-weight: 500;
}
.popup.follow-state .area-list .row .info {
	text-align: left;
	font-size: 20px;
	font-weight: 700;
}
.popup.follow-state .area-list .row .info .name {
	margin-bottom: 15px;
}
.popup.follow-state .area-list .row .info .counts {
	font-size: 0;
}
.popup.follow-state .area-list .row .info .counts .wrap {
	display: inline-block;
	margin-right: 14px;
}
.popup.follow-state .area-list .row .info .counts .wrap i {
	width: 13px;
	height: 13px;
	margin-right: 3px;
}
.popup.follow-state .area-list .row .info .counts .wrap i,
.popup.follow-state .area-list .row .info .counts .wrap span {
	display: inline-block;
	font-size: 16px;
	font-style: normal;
}
.popup.follow-state .area-list .row .info .counts .like i {
	background: url(../images/icon_like.png) 0 0 / 13px 13px no-repeat;
}
.popup.follow-state .area-list .row .info .counts .collection i {
	background: url(../images/icon_collect.png) 0 0 / 13px 13px no-repeat;
}
.popup.follow-state .area-list .row .action {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
.popup.follow-state .area-list .row .action .add {
	width: 40px;
	height: 39px;
	background: url(../images/search_friend_add.png) 0 0 / cover no-repeat;
}
.popup.follow-state .area-list .row .action .already {
	width: 40px;
	height: 38px;
	background: url(../images/search_friend_already.png) 0 0 / cover no-repeat;
}
/* 팝업 개별코드 */