.main-banner .box-content {
	position: relative;
}
.main-banner .box-content figcaption {
	display: block;
	position: absolute;
	top: 50%;
	/*	top: 31%;*/
	left: 50%;
	width: 100%;
	z-index: 3;
	transform: translate(-50%, -50%);
	text-align: center;
}
.main-banner .box-content figcaption .brand {
	font-size: 12px;
	color: #f7dd30;
	font-weight: 900;
}
.main-banner .box-content figcaption .title {
	font-size: 25px;
	color: #ffffff;
	font-weight: 700;
	margin: 8px auto 17px;
}
/*
.main-banner .box-content figcaption .summary {
	font-size: 11px;
	color: #ffffff;
	font-weight: 300;
}
*/
.main-banner a .box-bg img {
	position: relative;
	transition: all 0.3s ease-in-out;
	z-index: 1;
}
.main-banner a:hover .box-bg img {
	opacity: 0.9;
}
.main-banner .box-bg {
	position: relative;
}
.main-banner .box-bg:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000;
	z-index: 0;
}
.main-banner ._03 figcaption {
	top: 34%;
	transform: translate(-50%, 0);
}
.main-banner .box-content .link {
	display: block;
	/*
	position: absolute;
	left: 50%;
	bottom: 22.3%;
	transform: translate(-50%, 0);
	*/
/*	margin: 17px auto 0;*/
	color: #ffffff;
	font-size: 10px;
	font-weight: 300;
	z-index: 1;
	text-align: center;
}
.main-banner .box-content .link .progress-current {
	display: inline-block;
	width: 30px;
	height: 30px;
}
.progress-current .prg-circle {
	stroke-dasharray: 90;
	stroke-dashoffset: 90;
	stroke-width: 1px;
	stroke: #ffffff;
}
.loaded .progress-current .prg-circle {
	transition: stroke-dashoffset 4s linear;
	stroke-dashoffset: 0;
}
.main-banner .box-content .link span.view {
	display: block;
	margin-top: 7px;
}
#main-banner-pagination {
	position: absolute;
	bottom: 25px;
	left: 50%;
	width: 90px;
	/*	text-align: right;*/
	z-index: 4;
	font-size: 0;
	transform: translateX(-50%);
}
#main-banner-pagination .swiper-pagination-bullet {
	display: inline-block;
	width: 33px;
	background: #fffbf3;
	height: 1px;
	margin: 0;
	transition: all 0.65s ease-in-out;
	border-radius: 0;
	opacity: 1;
	font-size: 0;
	vertical-align: top;
	cursor: default;
	margin-bottom: 9px;
}


/*
#main-banner-pagination {
	position: absolute;
	bottom: 25px;
	right: 0;
	left: inherit;
	width: 43px;
	text-align: right;
	z-index: 4;
	font-size: 0;
}
#main-banner-pagination .swiper-pagination-bullet {
	display: inline-block;
	width: 33px;
	background: #fffbf3;
	height: 1px;
	margin: 0;
	transition: all 0.65s ease-in-out;
	border-radius: 0;
	opacity: 1;
	font-size: 0;
	vertical-align: top;
	cursor: default;
	margin-bottom: 9px;
}
#main-banner-pagination .swiper-pagination-bullet:last-child {
	margin-bottom: 0;
}
#main-banner-pagination .swiper-pagination-bullet-active {
	width: 100%;
	background: #f7dd30;
}
*/
.content.main .paging-wrap {
	padding: 18px 0 49px;
}
.content.main .list-container {
	padding: 0 24px;
	margin: 0 auto;
}
.content.main .list-container .best-slider {
	padding-top: 23px;
}
.content.main .list-container .best-slider .button-prev {
	position: absolute;
	top: 0;
	left: 9px;
	width: 25px;
	height: 12px;
	background: url(../images/arrow_left.png) center no-repeat;
	background-size: cover;
	cursor: pointer;
}
.content.main .list-container .best-slider .button-next {
	position: absolute;
	top: 0;
	right: 9px;
	width: 25px;
	height: 12px;
	background: url(../images/arrow_right.png) center no-repeat;
	background-size: cover;
	cursor: pointer;
}
.content.main .list-container.best-area .title-area {
	padding: 47px 0 0;
}
.content.main .list-container.best-area .video {
	padding-bottom: 0;
	margin-bottom: 0;
	width: 100%;
}
.content.main .list-container .title-area {
	padding: 42px 0 30px;
	text-align: center;
}
.content.main .list-container .list-title {
	position: relative;
	font-size: 17px;
	font-weight: 700;
	margin-bottom: 26px;
}
.content.main .list-container .list-title:after {
	content: '';
	position: absolute;
	bottom: -18px;
	left: 50%;
	width: 9px;
	height: 1px;
	background: #000000;
	margin-left: -4px;
}
.content.main .list-container .list-title + a.view-all {
	font-size: 11px;
	font-weight: 600;
}
.content.main .list-container .video-list {
/*	max-width: 1400px;*/
	/*	width: 1400px;*/
}
.content.main .list-container .read-more {
	margin: 20px auto 110px;
}
/* main */
/* video list */
.vid-list > .inner {
	padding: 51px 24px;
}
.vid-list .search-wrapper {
	margin-bottom: 35px;
	padding: 0 5px;
}
.vid-list .search-wrapper .wrap {
	position: relative;
}
.vid-list .search-wrapper .wrap:first-child {
	margin-bottom: 18px;
	font-size: 0;
	padding: 0 9px;
}
.vid-list .search-wrapper .wrap .button-refresh {
	position: absolute;
	right: 9px;
	bottom: 0;
	height: 15px;
	padding-left: 20px;
	background: url(../images/search_refresh.png) left center no-repeat;
	background-size: 18px 15px;
	font-size: 10px;
}
.vid-list .search-wrapper .wrap .search-bar {
/*	width: 584px;*/
	width: 74.8%;
	display: block;
	position: relative;
	background: url(../images/search_obj_black.png) 0px 50% no-repeat;
	background-size: 16px 16px;
}
.vid-list .search-wrapper .wrap .search-bar input[type="text"] {
	width: 100%;
	padding: 4px 0 4px 26px;
	font-size: 13px;
}
.vid-list .search-wrapper .wrap .search-bar:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #333333;
}
.vid-list .search-wrapper .sortings {
	font-size: 0;
}
.vid-list .search-wrapper .sortings > * {
	vertical-align: top;
}
.vid-list .search-wrapper .sortings .sort-list {
	display: inline-block;
/*	margin-right: 11px;*/
	font-size: 0;
	width: 76.6%;
}
.vid-list .search-wrapper .sortings .sort-list .sort {
	display: inline-block;
	width: 50%;
	height: 28px;
	/*	border: 1px solid #080808;*/
	font-size: 12px;
	font-weight: 400;
	margin-left: -1px;
	margin-top: -1px;
}
.vid-list .search-wrapper .sortings .sort-list .sort:nth-of-type(2n+1) {
	margin-left: 0;
}
.vid-list .search-wrapper .sortings .sort-list .sort:nth-of-type(1),
.vid-list .search-wrapper .sortings .sort-list .sort:nth-of-type(2) {
	margin-top: 0;
}
.vid-list .search-wrapper .sortings .button-apply {
/*	width: 125px;*/
	width: 23.4%;
	height: 82px;
	background: #333333;
	color: #ffffff;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: -1px;
}
.vid-list > .inner > .title {
	font-size: 17px;
	font-weight: 700;
	color: #333333;
	text-align: center;
	margin-bottom: 37px;
}
/* video list */
/* video detail */
.app-container.sub .content.detail > .inner {
	padding: 51px 24px;
}
.content.detail .info-wrap {
	position: relative;
}
.content.detail .info-wrap .brand {
	font-size: 12px;
	color: #666666;
}
.content.detail .info-wrap .title {
	font-size: 22px;
	margin: 10px 0;
	font-weight: 700;
}
.content.detail .info-wrap .date {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 11px;
	color: #666666;
	font-weight: 500;
}
.content.detail .info-wrap .icon-wrap {
	font-size: 0;
}
.content.detail .info-wrap .icon-wrap > span {
	display: inline-block;
	vertical-align: bottom;
	margin-right: 10px;
}
.content.detail .info-wrap .icon-wrap > span > span {
	display: inline-block;
	font-size: 11px;
	color: #333333;
}
.content.detail .info-wrap .icon-wrap span .icon {
	display: inline-block;
	margin-right: 4px;
}
.content.detail .info-wrap .icon-wrap > span:last-child {
	margin-right: 0;
}
.content.detail .player {
	margin: 12px 0 17px;
	background-color: #d0d1d1;
	transition: all 0.2s ease;
}
.content.detail .actions {
	display: inline-block;
	left: 50%;
	transform: translateX(-50%);
	font-size: 0;
	text-align: center;
	position: relative;
}
.content.detail .actions .action {
	display: inline-block;
	border-radius: 50%;
	border: 1px solid #d0d1d1;
	text-align: center;
	width: 32px;
	height: 32px;
	margin-right: 17px;
	font-size: 11px;
	vertical-align: top;
	position: relative;
}
.content.detail .actions .action span {
	color: #666666;
	font-weight: 600;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.content.detail .actions .action.share {
	margin-right: 0;
}
.content.detail .actions .action.like {
	background: url(../images/detail_action_like_off.png) center no-repeat;
	background-size: 14px auto;
}
.content.detail .actions .action.like:hover,
.content.detail .actions .action.like.is-active {
	background: url(../images/detail_action_like_on.png) center no-repeat;
	background-size: 14px auto;
}
.content.detail .actions .action.collect {
	background: url(../images/detail_action_collect_off.png) center no-repeat;
	background-size: 10px auto;
}
.content.detail .actions .action.collect:hover,
.content.detail .actions .action.collect.is-active {
	background: url(../images/detail_action_collect_on.png) center no-repeat;
	background-size: 10px auto;
}
.content.detail .actions .action.share {
	background: url(../images/detail_action_share_off.png) 40% 50% no-repeat;
	background-size: 16px auto;
}
.content.detail .actions .share-spread {
	position: absolute;
	right: -67px;
	top: 50%;
	margin-top: -6px;
	font-size: 0;
}
.content.detail .actions .share-spread li {
	display: inline-block;
	margin-right: 15px;
	transition: all 0.2s ease;
	opacity: 0;
	transform: scale(0);
}
.content.detail .actions .share-spread li:nth-child(1) {transition-delay: 0s;}
.content.detail .actions .share-spread li:nth-child(2) {transition-delay: 0.1s;}
.content.detail .actions .share-spread li:nth-child(3) {transition-delay: 0.2s;}
.content.detail .actions .action.share.is-active + .share-spread li {
	transform: scale(1);
	opacity: 1;	
}
.content.detail .actions .share-spread li:last-child {
	margin-right: 0;
}
.content.detail .actions .share-spread li.fb img {
	width: 6px;
}
.content.detail .actions .share-spread li.kt img {
	width: 11px;
}
.content.detail .actions .share-spread li.url img {
	width: 10px;
}
.content.detail .block-comment {
	margin: 38px 0 36px;
}
.content.detail .block-comment h5,
.content.detail .block-related h5 {
	font-size: 12px;
	font-weight: 700;
	margin-bottom: 9px;
}
.content.detail .block-comment .input-group {
	font-size: 0;
	margin-bottom: 26px;
}
.content.detail .block-comment .input-group > div {
	display: inline-block;
	vertical-align: top;
}
.content.detail .block-comment .input-group .text-box {
	width: 81%;
	height: 46px;
	margin-right: 1%;
}
.content.detail .block-comment .input-group .text-box input[type="text"] {
	width: 100%;
	height: 100%;
	border: 1px solid #dcdcdc;
	background: #ffffff;
	padding-left: 18px;
	font-size: 14px;
}
.content.detail .block-comment .input-group .button {
	width: 18%;
	height: 46px;
}
.content.detail .block-comment .input-group .button .button-submit {
	width: 100%;
	height: 100%;
	background: #333333;
	color: #ffffff;
	font-size: 11px;
}
.content.detail .block-comment .comment-list {
/*	padding: 0 13px 0 23px;*/
}
.content.detail .block-comment .comment-list .row {
	padding: 16px 0;
	position: relative;
	border-bottom: 1px solid #dcdcdc;
}
.content.detail .block-comment .comment-list .row .u-id {
	font-size: 11px;
	font-weight: 600;
	margin-bottom: 12px;
	padding: 0 5px 0 7px;
}
.content.detail .block-comment .comment-list .row .u-comment {
	font-size: 11px;
	font-weight: 400;
	padding: 0 40px 0 7px;
	line-height: 15px;
}
.content.detail .block-comment .comment-list .row .date {
	position: absolute;
	top: 16px;
	right: 5px;
	font-size: 10px;
}
.content.detail .block-comment .comment-list .row .actions {
	position: absolute;
	top: 36px;
	right: 8px !important;
	transform: none;
	left: inherit;
}
.content.detail .block-comment .comment-list .row .actions .remove-comment {
	background: url(../images/close_x_black.png) center no-repeat;
	background-size: 10px 10px;
	width: 16px;
	height: 16px;
}
.content.detail .block-related .video-list {
	overflow: hidden;
}
.content.detail .block-related .video {
	width: 49%;
	float: left;
	margin-right: 2%;
	margin-bottom: 18px;
}
.content.detail .block-related .video:nth-of-type(2n) {
	margin-right: 0;
}
/* video detail */
/* login */
.content.login > .inner {
	padding: 68px 0 0;
}
.content.login .title {
	text-align: center;
}
.content.login .title h3 {
	font-size: 17px;
	font-weight: 600;
	padding-bottom: 26px;
	position: relative;
}
.content.login .title h3:after {
	content: "";
	position: absolute;
	bottom: 19px;
	left: 50%;
	width: 8px;
	height: 1px;
	margin-left: -4px;
	background: #000000;
}
.content.login .title p {
	font-size: 11px;
}
.content.login .button-wrap {
	width: 205px;
	margin: 53px auto 0;
}
.content.login .button-wrap button {
	display: block;
	width: 100%;
	height: 38px;
	margin-bottom: 7px;
	color: #ffffff;
	font-size: 12px;
	text-align: right;
	padding-right: 52px;
}
.content.login .button-wrap button:last-child {
	margin-bottom: 0;
}
.content.login .button-wrap button.fb {
	background: url(../images/login_fb.png) 53px 50% no-repeat #333333;
	background-size: 9px auto;
}
.content.login .button-wrap button.kt {
	background: url(../images/login_kt.png) 49px 50% no-repeat #333333;
	background-size: 17px auto;
}
/* login */
/* join */
.content.join > .inner {
	padding: 68px 25px;
}
.content.join > .inner > .title {
	font-size: 17px;
	font-weight: 800;
	text-align: center;
	margin-bottom: 26px;
}
.content.join .block-wrap {
	margin-bottom: 50px;
}
.content.join .block-terms {
	text-align: center;
}
.content.join .block-terms:first-child {
	margin-bottom: 41px;
}
.content.join .block-terms .title {
	position: relative;
	font-size: 11px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 17px;
}
.content.join .block-terms .title:before {
	content: "";
	position: absolute;
	top: -8px;
	left: 50%;
	width: 8px;
	height: 1px;
	margin-left: -4px;
	background: #333333;
}
.content.join .block-terms .scroll-box {
	background: #ffffff;
	height: 325px;
	overflow: hidden;
	padding: 0 5px;
}
.content.join .block-terms .scroll-box .inner {
	height: 100%;
	overflow-y: scroll;
	font-size: 10px;
	line-height: 14px;
	font-weight: 700;
	text-align: left;
	padding: 14px 20px 14px 13px;
	word-break: break-word;
	white-space: normal;
}
.content.join .agree {
	display: inline-block;
	margin-top: 11px;
	cursor: pointer;
	position: relative;
	font-size: 0;
}
.content.join .agree label,
.content.join .agree .checkbox {
	display: inline-block;
}
.content.join .agree label {
	cursor: pointer;
	margin-right: 7px;
	vertical-align: middle;
	font-size: 11px;
	font-weight: 700;
}
.content.join .agree input[type="checkbox"] {
	position: absolute;
	background: none;
	opacity: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 23px;
	height: 23px;
	vertical-align: middle;
	z-index: 1;
}
.content.join .agree .checkbox {
	width: 23px;
	height: 23px;
	border-radius: 50%;
	border: 2px solid #333333;
	vertical-align: middle;
	z-index: 0;
	background: url(../images/join_checked.png) center / 0px 0px no-repeat transparent;
	transition: background 0.1s ease;
}
.content.join .agree input[type="checkbox"]:checked + .checkbox {
	background: url(../images/join_checked.png) center / 11px 5px no-repeat transparent;
}
.content.join .block-input {
	margin: 0 auto 60px;
	text-align: center;
}
.content.join .block-input .input-group {
	padding: 8px 0;
	border-bottom: 1px solid #666666;
	font-size: 0;
	text-align: left;
}
.content.join .block-input .input-group .guide,
.content.join .block-input .input-group .input {
	display: inline-block;
	font-size: 17px;
	height: 23px;
}
.content.join .block-input .input-group .guide {
	width: 40%;
}
.content.join .block-input .input-group .guide span {
	font-size: 11px;
	color: #666666;
}
.content.join .block-input .input-group .input {
	width: 60%;
}
.content.join .block-input .input-group .input input[type="text"] {
	height: 100%;
	font-size: 17px;
}
.content.join .block-input .agree {
	display: inline-block;
	margin: 20px 0 0;
}
.content.join .block-input.nickname {
	margin-bottom: 55px;
}
.content.join .block-input.nickname span.guide {
	display: block;
	margin-top: 14px;
	text-align: left;
	word-break: break-all;
	font-size: 11px;
	color: #666666;
	font-weight: 500;
}
.content.join .btn-join {
	display: block;
	width: 86px;
	height: 30px;
	color: #ffffff;
	font-size: 12px;
	font-weight: 500;
	background: #333333;
	margin: 0 auto;
}
/* join */
/* awards */
.content.awards > .inner {
	padding: 0 0 60px;
}
.awards-banner .box-content {
	position: relative;
}
.awards-banner .box-content figcaption {
	display: block;
	position: absolute;
	top: 50%;
/*	top: 31%;*/
	left: 50%;
	width: 100%;
	z-index: 3;
	transform: translate(-50%, -50%);
	text-align: center;
}
.awards-banner .box-content .link {
	display: block;
/*
	position: absolute;
	left: 50%;
	bottom: 22.3%;
	transform: translate(-50%, 0);
*/
	margin: 17px auto 0;
	color: #ffffff;
	font-size: 10px;
	font-weight: 300;
	z-index: 1;
	text-align: center;
}
.awards-banner .box-content .link .progress-current {
	display: inline-block;
	width: 30px;
	height: 30px;
}
.progress-current .prg-circle {
	stroke-dasharray: 90;
	stroke-dashoffset: 90;
	stroke-width: 1px;
	stroke: #ffffff;
}
.loaded .progress-current .prg-circle {
	transition: stroke-dashoffset 4s linear;
	stroke-dashoffset: 0;
}
.awards-banner .box-content .link span.view {
	display: block;
	margin-top: 7px;
}
.awards-banner .box-content figcaption .award-name {
	font-size: 12px;
	color: #f7dd30;
	font-weight: 700;
	margin-bottom: 8px;
}
/*
.awards-banner .box-content figcaption .award-summ {
	font-size: 13px;
	color: #ffffff;
	font-weight: 600;
	margin: 13px auto 4px;
}
*/
.awards-banner .box-content figcaption .award-title {
	font-size: 21px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
}
.awards-banner a .box-bg img {
	position: relative;
	transition: all 0.3s ease-in-out;
	z-index: 1;
}
.awards-banner a:hover .box-bg img {
	opacity: 0.9;
}
.awards-banner .box-bg {
	position: relative;
}
.awards-banner .box-bg:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000;
	z-index: 0;
}
.swiper-container-horizontal>.swiper-pagination-progressbar, .swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
	top: inherit;
}
#awards-banner-pagination {
	position: absolute;
	bottom: 25px;
	left: 50%;
	width: 87px;
/*	text-align: right;*/
	z-index: 4;
	font-size: 0;
	transform: translateX(-50%);
}
#awards-banner-pagination .swiper-pagination-bullet {
	display: inline-block;
	width: 33px;
	background: #fffbf3;
	height: 1px;
	margin: 0;
	transition: all 0.65s ease-in-out;
	border-radius: 0;
	opacity: 1;
	font-size: 0;
	vertical-align: top;
	cursor: default;
	margin-bottom: 9px;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	background: #f7dd30;
	top: -1px;
	height: 3px;
}
.swiper-container-horizontal>.swiper-pagination-progressbar, .swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
	height: 1px;
}
.swiper-pagination-progressbar {
/*	background: rgba(255, 255, 255, 1);*/
	background: rgba(187, 187, 187, 0.5);
}
.number-pagination {
	position: absolute;
	bottom: 37px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 0;
	z-index: 1;
}
.number-pagination span {
	font-size: 10px;
	color: #bbbbbb;
	font-weight: 900;
	display: inline-block;
	vertical-align: middle;
}
.number-pagination span.current {
	color: #f7dd30;
}
.number-pagination span.total::before {
	content: "/";
	display: inline-block;
	margin: 0 10px;
	vertical-align: top;
}
.awards .cate-wrap {
	position: relative;
	padding: 0 34px;
	margin: 37px auto 32px;
}
.awards .cate-wrap .main-cate .sort {
/*	width: 148px;*/
/*	height: 40px;*/
	font-size: 18px;
	font-weight: 400;
	padding: 8px 0;
}
.awards .cate-wrap .sort select {
	border: 0 none;
	display: inline-block;
	outline: 0 none;
	font-size: 17px;
	font-weight: 600;
	background: url(../images/select_arrow.png) 0 50% no-repeat;
	background-size: 9px 8px;
	padding-left: 18px;
	border-radius: 0;
	-webkit-box-align: left;
	-ms-flex-align: left;
	align-items: left;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: #333333;
	letter-spacing: -1px;
}
.awards .cate-wrap .sub-cate {
	position: absolute;
	right: 34px;
	top: 8px;
}
.awards .cate-wrap .sub-cate .sort select {
	font-size: 17px;
	font-weight: 600;
	background: url(../images/select_arrow.png) 100% 50% no-repeat;
	background-size: 9px 8px;
	padding-right: 18px;
	padding-left: 0;
}
.awards .list-container {
	max-width: 1400px;
	margin: 0 auto;
}
.awards .result-empty p {
	font-size: 14px;
}
.awards .list-container .video-list {
	font-size: 0;
}
.awards .list-container .video-list .column {
	margin-right: 3.2%;
	width: 48.4%;
	display: inline-block;
}
.awards .list-container .video-list .column:last-child {
	margin-right: 0;
}
.awards .list-container .video-list .column .video {
	width: 100% !important;
}
/* awards */
/* my vvv */
.app-container.sub .content.user-page > .inner {
	max-width: none;
	padding: 0;
}
.content.user-page .user-info {
	position: relative;
	background: #333333;
/*	padding: 46px 0 32px;*/
	padding: 30px 25px;
}
.content.user-page .user-info:after {
	content: "";
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}
.content.user-page .user-info > .wrapper {
	position: relative;
	z-index: 1;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.content.user-page .user-info .profile-img {
/*
	width: 112px;
	height: 112px;
*/
	width: 90px;
	height: 90px;
	margin: 0 17px 0 0;
	border-radius: 50%;
	overflow: hidden;
}
.content.user-page .user-info .profile-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	max-width: none;
}
.content.user-page .user-info .profile-img .default {
	background: #f7dd30;
	position: relative;
	height: 100%;
	text-align: center;
}
.content.user-page .user-info .profile-img .default span {
	display: block;
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 13px;
	font-weight: 500;
}
.content.user-page .user-info .info-wrap {
	width: calc(100% - 107px);
	color: #ffffff;
}
.content.user-page .user-info .info-wrap .wrap-user {
	border-bottom: 1px solid #7c7c7c;
/*	padding: 24px 0 14px;*/
	padding-bottom: 10px;
	width: 100%;
	font-size: 0;
	position: relative;
}
.content.user-page .user-info .info-wrap .wrap-user .user-id {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	margin-left: 10px;
}
.content.user-page .user-info .info-wrap .wrap-user .user-id .u-id {
	vertical-align: middle;
	font-size: 17px;
}
.content.user-page .user-info .info-wrap .wrap-user .setting {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 22px;
	vertical-align: middle;
	text-align: center;
	margin-left: 3px;
}
.content.user-page .user-info .info-wrap .wrap-user .follow-state {
	position: absolute;
	top: 29px;
	right: 0;
	color: #ffffff;
	font-size: 12px;
	font-weight: 300;
	display: flex;
	justify-content: space-between;
}
.content.user-page .user-info .info-wrap .wrap-user .follow-state .already {
	color: #f7dd30;
}
.content.user-page .user-info .info-wrap .wrap-user .setting img {
	display: inline-block;
	vertical-align: middle;
	width: 12px;
}
.content.user-page .user-info .info-wrap .wrap-actions {
	position: relative;
/*	padding: 14px 10px 0 10px;*/
	padding: 10px 10px 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content.user-page .user-info .info-wrap .wrap-actions > div {
	display: inline-block;
	color: #ffffff;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	vertical-align: middle;
}
.content.user-page .user-info .info-wrap .wrap-actions > div .count {
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	margin-left: 2px;
}
.content.user-page .user-info .info-wrap .wrap-actions .f-add button {
	width: 75px;
	height: 28px;
	font-size: 12px;
	font-weight: 600;
	padding-right: 13px;
	color: #333333;
	background: url(../images/plus_icon_black.png) 56px 10px no-repeat #ffffff;
	background-size: 7px 7px;
/*	margin-top: -8px;*/
}


.content.user-page .user-feed {
	margin: 36px auto;
	position: relative;
}
.content.user-page .user-feed > .wrapper {
	padding: 0 25px;
}
.content.user-page .user-feed .tab-wrap {
	font-size: 0;
/*	border-bottom: 1px solid #333333;*/
}
.content.user-page .user-feed .tab-wrap .tab {
	text-align: center;
	font-size: 17px;
	color: #7f7f7f;
	position: relative;
	width: 33%;
	padding: 12px 0;
	display: inline-block;
}
.content.user-page .user-feed .tab.is-active::after {
	content: "";
	height: 2px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: -1px;
	background: #333333;
}
.content.user-page .user-feed .tab-wrap .tab.is-active,
.content.user-page .user-feed .tab-wrap .tab:hover {
	color: #333333;
}
.content.user-page .user-feed .inner {
	padding: 32px 0;
}
.content.user-page .user-feed .text-block {
	margin-bottom: 29px;
	font-size: 13px;
	text-align: center;
}
.content.user-page .user-feed .result-empty {
	padding: 0;
}
.content.user-page .user-feed .aj-content {
	display: none;
}
.content.user-page .user-feed .aj-content.is-active {
	display: block;
}
.content.user-page .user-feed .collection .text-block {
	margin-bottom: 18px;
}
.content.user-page .user-feed .collection .text-block + .btn-create {
	display: block;
	width: 63px;
	height: 28px;
	padding-right: 12px;
	color: #ffffff;
	background: url(../images/plus_icon_white.png) 45px 49% no-repeat #333333;
	background-size: 7px 7px;
	font-size: 12px;
	font-weight: 500;
	margin: 0 auto 29px;
}
.content.user-page .user-feed .aj-content .album-list {
	overflow: hidden;
}
.content.user-page .user-feed .aj-content .album {
	width: 48%;
	float: left;
	margin-right: 4%;
	margin-bottom: 10px;
}
.content.user-page .user-feed .aj-content .album:nth-of-type(2n) {
	margin-right: 0;
}
.content.user-page .user-feed .aj-content .album figure > a {
	display: block;
	position: relative;
	border-radius: 8px;
	overflow: hidden;
}
.content.user-page .user-feed .aj-content .album figure > a .over-layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transition: all 0.15s ease-out;
}
.content.user-page .user-feed .aj-content .album figure > a:hover .over-layer {
	opacity: 1;
	visibility: visible;
}
.content.user-page .user-feed .aj-content .album figure > a .over-layer .btn-delete {
	display: block;
	position: absolute;
	top: 8px;
	right: 8px;
	width: 20px;
	height: 20px;
	background: url(../images/myvvv_album_delete.png) center / cover no-repeat;
}
.content.user-page .user-feed .aj-content .album .frame {
	height: 255px;
}
.content.user-page .user-feed .aj-content .album .frame .thumbnail {
	height: 33.3%;
}
.content.user-page .user-feed .aj-content .album .frame .thumbnail:nth-of-type(2) {
	outline: 1px solid rgba(255, 255, 255, 0.9);
}
.content.user-page .user-feed .aj-content .album figcaption {
	position: relative;
	padding: 16px 10px;
}
.content.user-page .user-feed .aj-content .album figcaption span {
	display: block;
}
.content.user-page .user-feed .aj-content .album figcaption .title {
	font-size: 14px;
	font-weight: 600;
}
.content.user-page .user-feed .aj-content .album figcaption .desc {
	font-size: 12px;
	font-weight: 500;
	color: #666666;
	margin: 7px 0 9px;
}
.content.user-page .user-feed .aj-content .album figcaption .icon-wrap {
	font-size: 0;
}
.content.user-page .user-feed .aj-content .album figcaption .icon-wrap > div {
	display: inline-block;
	font-size: 0;
}
.content.user-page .user-feed .aj-content .album figcaption .icon-wrap > div span,
.content.user-page .user-feed .aj-content .album figcaption .icon-wrap > div i {
	display: inline-block;
	font-size: 11px;
	font-weight: 700;
}
.content.user-page .user-feed .aj-content .album figcaption .icon-wrap .like i {
	display: inline-block;
	background: url(../images/icon_favorite.png) center / 10px 10px no-repeat;
	width: 10px;
	height: 10px;
	margin-right: 2px;
}
.content.user-page .user-feed .aj-content .album figcaption .secret-mode {
	position: absolute;
	width: 8px;
	height: 10px;
	background: url(../images/myvvv_secret_icon.png) center / cover no-repeat;
	top: 16px;
	right: 10px;
}
.content.user-page .video-list {
	font-size: 0;
}
.content.user-page .video-list > .video {
	display: inline-block;
	width: 48.5%;
	margin-right: 3%;
}
.content.user-page .video-list > .video:nth-of-type(2n) {
	margin-right: 0;
}
.content.user-page .video-list > .video figure figcaption .brand {
	font-size: 10px;
	line-height: 14px;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
}
.content.user-page .video-list > .video figure figcaption .title {
	margin: 4px 0 3px;
	font-size: 12px;
	line-height: 16px;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
}
.content.user-page .video-list > .video figure figcaption .icon-wrap > span {
	margin-right: 5px;
}
.content.user-page .video-list > .video figure figcaption .icon-wrap .icon {
	margin-right: 3px;
}

/* 컬렉션 상세 */
.content.user-page .collection-detail {
	margin: 37px auto;
	padding: 0 25px;
}
.content.user-page .collection-detail .collection-info {
	position: relative;
	padding: 0 5px;
	margin-bottom: 15px;
}
.content.user-page .collection-detail .collection-info .list-back {
	position: absolute;
	top: -12px;
	right: 0;
	font-size: 11px;
	color: #666666;
}
.content.user-page .collection-detail .collection-info .list-back i {
	font-style: normal;
	margin-right: 5px;
}
.content.user-page .collection-detail .collection-info .texts {
	margin-bottom: 8px;
}
.content.user-page .collection-detail .collection-info .texts .title {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	margin-right: 14px;
}
.content.user-page .collection-detail .collection-info .texts .summary {
	display: inline-block;
	font-size: 11px;
	font-weight: 500;
}
.content.user-page .collection-detail .collection-info .texts .secret-mode {
	display: inline-block;
	margin-left: 8px;
	background: url(../images/myvvv_secret_icon.png) center / cover no-repeat;
	width: 8px;
	height: 10px;
	vertical-align: bottom;
}
.content.user-page .collection-detail .semi-container {
	position: relative;
}
.content.user-page .result-empty .plus {
	display: block;
	margin: 0 auto 11px;
	width: 11px;
	height: 12px;
	background: url(../images/plus_icon_2325_black.png) center / 11px 12px no-repeat;
}
.content.user-page .collection-detail .collection-info .counts span.wrap {
	display: inline-block;
	margin-right: 9px;
	font-size: 0;
}
.content.user-page .collection-detail .collection-info .counts span.wrap span,
.content.user-page .collection-detail .collection-info .counts span.wrap i {
	display: inline-block;
	font-size: 10px;
	font-weight: 500;
}
.content.user-page .collection-detail .collection-info .counts span.wrap i {
	margin-right: 4px;
}
.content.user-page .collection-detail .collection-info .counts .icon.video {
	background: url(../images/myvvv_icon_vid.png) center / cover no-repeat;
	width: 16px;
	height: 11px;
}
.content.user-page .collection-detail .collection-info .counts .icon.follow {
	background: url(../images/myvvv_icon_follow.png) center / cover no-repeat;
	width: 12px;
	height: 10px;
}
/*
.content.user-page .collection-detail .collection-info .action-wrap {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	padding: 20px 0;
	text-align: right;
}
*/
.content.user-page .collection-detail .collection-info .myaction {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	padding: 13px 25px;
	height: 51px;
	background: rgba(255, 255, 255, 0.7);
	text-align: right;
}
.content.user-page .collection-detail .collection-info .myaction button {
	width: 50px;
	height: 26px;
	margin-right: 6px;
	color: #ffffff;
	font-size: 11px;
	font-weight: 700;
	background: #666666;
	text-align: center;
}
.content.user-page .collection-detail .collection-info button:last-child {
	margin-right: 0;
}
.content.user-page .collection-detail .collection-info .anyaction {
	display: inline-block;
	position: absolute;
	top: 3px;
	right: 0;
	font-size: 0;
}
.content.user-page .collection-detail .collection-info .anyaction .btn-favor {
	width: 149px;
	height: 57px;
	background: url(../images/myvvv_follow_icon_white.png) 19px 50% / 31px 37px no-repeat #333333;
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
	text-align: left;
	padding-left: 60px;
}
.content.user-page .collection-detail .collection-info .anyaction > * {
	vertical-align: middle;
}
.content.user-page .collection-detail .collection-info .anyaction .favor {
	width: 12px;
	height: 11px;
	background: url(../images/myvvv_icon_favorite.png) 50% / cover no-repeat;
	margin-right: 21px;
}
.content.user-page .collection-detail .collection-info .anyaction .favor.is-already {
	background: url(../images/myvvv_icon_favorite_on.png) 50% / cover no-repeat;
}
.content.user-page .collection-detail .collection-info .anyaction .secret {
	width: 8px;
	height: 11px;
	background: url(../images/myvvv_icon_secret.png) 50% / cover no-repeat;
	margin-right: 20px;
}
.content.user-page .collection-detail .collection-info .anyaction .secret.is-already {
	background: url(../images/myvvv_icon_secret_on.png) 50% / cover no-repeat;
}
.content.user-page .collection-detail .collection-info .anyaction .link-own {
	display: inline-block;
	position: relative;
	width: 33px;
	height: 33px;
	background: #f7dd30;
	border-radius: 50%;
	text-align: center;
	margin-right: 0;
}
.content.user-page .collection-detail .collection-info .anyaction .link-own span {
	text-transform: uppercase;
	display: block;
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #666666;
	font-size: 10px;
}

.content.user-page .collection-detail .list-container .read-more {
	margin: 0 auto 40px;
}

.content.user-page .collection-detail .list-container .video .check-layer {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	z-index: -1;
}
.content.user-page .collection-detail .list-container .video .check-layer input[type="checkbox"] {
	width: 100%;
	height: 100%;
	opacity: 0;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}
.content.user-page .collection-detail .list-container .video .check-layer .checkbox {
	position: absolute;
	top: 6px;
	left: 6px;
	background: #ffffff;;
	width: 13px;
	height: 13px;
	border: 1px solid #ffffff;
	z-index: 1;
	transition: all 0.12s ease;
	pointer-events: none;
}
.content.user-page .collection-detail .list-container .video .check-layer input[type="checkbox"]:checked + .checkbox {
	background: #f7dd30;
	border: 1px solid #f7dd30;
}
.content.user-page .collection-detail.check-mode .list-container .video .check-layer {
	opacity: 1;
	z-index: 1;
}
.content.user-page .collection-detail .list-container .video figure {
	position: relative;
}
.content .collection-detail .list-container .video .thumbnail {
	position: relative;
}
.content .collection-detail .list-container .video .thumbnail:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: transparent;
	transition: background 0.24s linear;
}
.content .collection-detail.check-mode .list-container .video .thumbnail:after {
	background: rgba(0, 0, 0, 0.15);
}
/* 컬렉션 상세 */
/* 컬렉션 영상 추가 */
.content .collection-detail.add-video > .title {
	position: relative;
	margin-bottom: 30px;
	text-align: center;
	font-size: 12px;
	font-weight: 500;
}
.content .collection-detail.add-video > .title:before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-bottom: 10px;
	background: url(../images/myvvv_action_icon_add.png) center / 15px 15px no-repeat;
}
.content .collection-detail.add-video .list-container .video .check-layer {
	opacity: 1;
	z-index: 1;
}
.content .collection-detail.add-video .list-container .btn-apply {
	display: block;
	width: 95px;
	height: 33px;
	margin: 0 auto;
	background: #333333;
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
}
/* 컬렉션 영상 추가 */
/* my vvv */


/* 팝업 개별 코드*/
.popup.send-mail {
	width: 303px;
	background: #9b9b9b;
}
.popup.send-mail .inner {
	padding: 44px 43px;
}
.popup.send-mail .inner .title {
	font-size: 12px;
	font-weight: 700;
	color: #ffffff;
	padding-left: 3px;
	margin-bottom: 29px;
}
.popup.send-mail .inner .title i {
	display: inline-block;
	background: url(../images/contact_mail_white.png) 0 0 / 15px 11px no-repeat;
	width: 15px;
	height: 11px;
	margin-right: 5px;
}
.popup.send-mail .inner .title i,
.popup.send-mail .inner .title span {
	vertical-align: middle;
}
.popup.send-mail .input-group {
	margin-bottom: 9px;
}
.popup.send-mail .input-wrap .input-group:last-child {
	margin-bottom: 0;
}
.popup.send-mail .input-group .guide {
	font-size: 10px;
	font-weight: 700;
	color: #ffffff;
	margin-bottom: 4px;
}
.popup.send-mail .input-group .input {
	width: 216px;
}
.popup.send-mail .input-group .input input[type="text"] {
	background: rgba(255, 255, 255, 0.8);
	padding-left: 8px;
	font-size: 10px;
	height: 26px;
	width: 100%;
}
.popup.send-mail .input-group .input textarea {
	background: rgba(255, 255, 255, 0.8);
	padding: 8px;
	font-size: 10px;
	height: 135px;
	width: 100%;
	resize: none;
}
.popup.send-mail .btn-send {
	display: block;
	margin: 15px 0 0 auto;
	background: #333333;
	width: 75px;
	height: 28px;
	color: #ffffff;
	font-size: 12px;
	font-weight: 700;
}
.popup.mycollection {
	width: 315px;
}
.popup.mycollection .inner {
	padding: 47px 22px 41px;
	text-align: center;
}
.popup.mycollection .title {
	text-align: left;
	border-bottom: 1px solid #c8c8c8;
	padding: 0 0 14px 11px;
}
.popup.mycollection .title h5 {
	font-size: 12px;
	font-weight: 700;
}
.popup.mycollection .content {
	padding: 0 11px;
}
.popup.mycollection .input-area {
	margin: 35px 0 23px;
	display: inline-block;
}
.popup.mycollection .input-area .input-group {
	text-align: left;
	font-size: 0;
	margin-bottom: 17px;
}
.popup.mycollection .input-area .input-group:last-child {
	margin-bottom: 0;
}
.popup.mycollection .input-area .input-group .guide {
	display: inline-block;
	width: 30px;
	vertical-align: middle;
	font-size: 11px;
}
.popup.mycollection .input-area .input-group .input {
	display: inline-block;
	width: 217px;
	vertical-align: middle;
}
.popup.mycollection .input-area .input-group input[type="text"] {
	width: 100%;
	border-bottom: 1px solid #666666;
	padding: 4px 6px;
	font-size: 11px;
	color: #b7b7b7;
}
.popup.mycollection .setting {
	margin-bottom: 30px;
	text-align: right;
	font-size: 0;
}
.popup.mycollection .setting .secret-guide {
	display: inline-block;
	margin-right: 6px;
	font-size: 10px;
	line-height: 13px;
	vertical-align: middle;
	padding-left: 14px;
	background: url(../images/secret_icon_lightgrey.png) 0 50% / 8px 11px no-repeat;
}
.popup.mycollection .setting .toggle {
	position: relative;
	display: inline-block;
	width: 52px;
	height: 18px;
	border: 2px solid #e2e2e2;
	border-radius: 17px;
	vertical-align: middle;
	background: #ffffff;
/*	transition: background-color .25s cubic-bezier(.25,.375,.1,.975);*/
}
.popup.mycollection .setting .toggle:after {
	content: "아니요";
	position: absolute;
	left: 18px;
	top: 50%;
	transform: translateY(-50%);
	color: #b7b7b7;
	font-size: 10px;
	font-weight: 500;
/*	transition: color 0.2s ease;*/
}
.popup.mycollection .setting .toggle.is-active {
	background: #333333;
}
.popup.mycollection .setting .toggle.is-active:after {
	content: "네";
	left: 9px;
	color: #ffffff;
}
.popup.mycollection .setting .toggle input[type="checkbox"] {
	width: 100%;
	height: 100%;
	z-index: 10;
	cursor: pointer;
	opacity: 0;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.popup.mycollection .setting .toggle .toggle-circle {
	border: 2px solid #e2e2e2;
	border-radius: 17px;
	width: 18px;
	height: 18px;
	margin: -2px;
	left: 0;
}
.popup.mycollection .setting .toggle.is-active .toggle-circle {
	left: calc(100% - 14px);
}
.popup.mycollection .button-wrap {
	text-align: right;
}
.popup.mycollection .button-wrap button {
	width: 75px;
	height: 28px;
	color: #ffffff;
	font-size: 12px;
	font-weight: 500;
	background: #333333;
	margin-right: 11px;
	text-align: center;
}
.popup.mycollection .button-wrap button:last-child {
	margin-right: 0;
}

.popup.profile-edit {
	width: 315px;
}
.popup.profile-edit > .inner {
	padding: 47px 22px 73px;
}
.popup.profile-edit > .inner > .title {
	text-align: left;
	border-bottom: 1px solid #c8c8c8;
	padding: 0 0 15px 14px;	
}
.popup.profile-edit > .inner > .title h5 {
	font-size: 12px;
	font-weight: 700;
}
.popup.profile-edit .area-picture {
	margin: 26px auto;
	text-align: center;
	font-size: 0;
}
.popup.profile-edit .area-picture .pic-wrap {
	display: inline-block;
	position: relative;
}
.popup.profile-edit .area-picture .picture {
	display: block;
	width: 112px;
	height: 112px;
	margin-bottom: 10px;
	border-radius: 50%;
	border: 1px solid #dcdcdc;
	overflow: hidden;
}
.popup.profile-edit .area-picture .picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.popup.profile-edit .area-picture .btn-edit {
	font-size: 10px;
	font-weight: 500;
}
.popup.profile-edit .area-picture .btn-edit label {
	display: inline-block;
	padding-right: 13px;
	line-height: 14px;
	background: url(../images/icon_profile_setting_dark.png) 100% 50% / 9px 9px no-repeat;
}
.popup.profile-edit .area-picture .btn-edit input[type="file"] {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	cursor: pointer;
	opacity: 0;
	width: 100%;
}
.popup.profile-edit .area-info {
	padding: 0 16px;
}
.popup.profile-edit .area-info .input-group {
	font-size: 0;
	margin-bottom: 16px;
}
.popup.profile-edit .area-info .input-group:last-child {
	margin-bottom: 0;
}
.popup.profile-edit .area-info .input-group .guide,
.popup.profile-edit .area-info .input-group .input {
	display: inline-block;
	line-height: 15px;
}
.popup.profile-edit .area-info .input-group .guide {
	width: 67px;
	font-size: 10px;
	font-weight: 500;
	padding: 4px 0;
}
.popup.profile-edit .area-info .input-group .input {
	position: relative;
	width: 172px;
	border-bottom: 1px solid #666666;
	padding: 4px 0;
}
.popup.profile-edit .area-info .input-group .input i {
	position: absolute;
	display: block;
	left: -16px;
	top: 6px;
}
.popup.profile-edit .area-info .input-group .input i.fb {
	width: 6px;
	height: 11px;
	background: url(../images/detail_share_fb.png) 0 50% / cover no-repeat;
}
.popup.profile-edit .area-info .input-group .input i.kt {
	top: 7px;
	width: 11px;
	height: 10px;
	background: url(../images/detail_share_kt.png) 0 50% / cover no-repeat;
}
.popup.profile-edit .area-info .input-group .input input[type="text"] {
	width: 100%;
	font-size: 11px;
	font-weight: 500;
}
.popup.profile-edit .area-info .input-group.secret .guide {
	vertical-align: top;
	background: url(../images/secret_icon_lightgrey.png) 52px 50% / 10px 13px no-repeat;
}
.popup.profile-edit .area-info .input-group.secret .input {
	vertical-align: top;
	border-bottom: 0;
}
.popup.profile-edit .area-info .input-group .toggle {
	display: block;
	margin-left: 3px;
}
.popup.profile-edit .button-wrap {
	margin-top: 28px;
	text-align: right;
}
.popup.profile-edit .button-wrap button {
	width: 75px;
	height: 28px;
	font-size: 12px;
	font-weight: 500;
	background: #333333;
	color: #ffffff;
}
.popup.profile-edit .button-wrap button:last-child {
	margin-left: 11px;
}

.popup.search-friends {
	width: 315px;
}
.popup.search-friends > .inner {
	padding: 48px 22px;
}
.popup.search-friends > .inner > .title {
	text-align: left;
	border-bottom: 1px solid #c8c8c8;
	padding: 0 0 15px 14px;	
}
.popup.search-friends > .inner > .title h5 {
	font-size: 12px;
	font-weight: 700;
}
.popup.search-friends .search-wrap {
	margin-top: 21px;
	text-align: center;
}
.popup.search-friends .search-wrap .search-bar {
	position: relative;
	width: 156px;
	margin: 0 auto;
	padding: 7px 0;
	border-bottom: 1px solid #c8c8c8;
}
.popup.search-friends .search-wrap .search-bar input[type="text"] {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 11px;
}
.popup.search-friends .search-wrap .search-bar .placeholder-icon {
	display: block;
	width: 9px;
	height: 9px;
	position: absolute;
	top: 50%;
	right: 20px;
	margin-top: -4px;
	background: url(../images/search_obj_lightgrey.png) 0 0 / 9px 9px no-repeat;
	transition: all 0.1s ease;
}
.popup.search-friends .search-wrap .search-bar input[type="text"]:focus + .placeholder-icon {
	opacity: 0;
}
.popup.search-friends .search-result {
	width: 212px;
	height: 192px;
	padding: 11px 0;
	margin: 10px auto 0;
	overflow-y: hidden;
}
.popup.search-friends .search-result .scroll-box {
	height: 100%;
	padding: 0 10px;
	overflow-y: scroll;
}
.popup.search-friends .search-result .row {
	position: relative;
	padding: 10px 0;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.popup.search-friends .search-result .row .img {
	width: 36px;
	height: 36px;
	flex-grow: 0;
	flex-shrink: 0;
	margin-right: 15px;
	border-radius: 50%;
	overflow: hidden;
}
.popup.search-friends .search-result .row .img a {
	display: block;
	height: 100%;
}
.popup.search-friends .search-result .row .img img {
	width: 100%;
	height: 100%;
	max-width: none;
	object-fit: cover;
	object-position: center;
}
.popup.search-friends .search-result .row .info {
	text-align: left;
	font-size: 10px;
	font-weight: 700;
}
.popup.search-friends .search-result .row .info .name {
	margin-bottom: 6px;
}
.popup.search-friends .search-result .row .info .counts {
	font-size: 0;
}
.popup.search-friends .search-result .row .info .counts .wrap {
	display: inline-block;
	margin-right: 5px;
}
.popup.search-friends .search-result .row .info .counts .wrap i {
	width: 7px;
	height: 7px;
	margin-right: 3px;
}
.popup.search-friends .search-result .row .info .counts .wrap i,
.popup.search-friends .search-result .row .info .counts .wrap span {
	display: inline-block;
	font-size: 10px;
	font-style: normal;
}
.popup.search-friends .search-result .row .info .counts .like i {
	background: url(../images/icon_like.png) 0 0 / 7px 7px no-repeat;
}
.popup.search-friends .search-result .row .info .counts .collection i {
	background: url(../images/icon_collect.png) 0 0 / 7px 7px no-repeat;
}
.popup.search-friends .search-result .row .action {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
.popup.search-friends .search-result .row .action .add {
	width: 18px;
	height: 18px;
	background: url(../images/search_friend_add.png) 0 0 / cover no-repeat;
}
.popup.search-friends .search-result .row .action .already {
	width: 18px;
	height: 18px;
	background: url(../images/search_friend_already.png) 0 0 / cover no-repeat;
}

.popup.follow-state {
	width: 315px;
}
.popup.follow-state > .inner {
	padding: 48px 22px;
}
.popup.follow-state .area-tab {
	border-bottom: 1px solid #c8c8c8;
}
.popup.follow-state .area-tab .tab-wrap {
	font-size: 0;
	text-align: center;
}
.popup.follow-state .area-tab .tab-wrap .tab {
	display: inline-block;
	position: relative;
	width: 54px;
	padding: 8px 0;
	color: #c8c8c8;
	font-size: 11px;
	font-weight: 700;
	margin-right: 10px;
}
.popup.follow-state .area-tab .tab-wrap .tab::after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	width: 100%;
	height: 2px;
	background: #333333;
}
.popup.follow-state .area-list {
	padding: 0 24px;
	margin: 28px auto 0;
	overflow-y: hidden;
	height: 192px;
}
.popup.follow-state .area-list .scroll-box.is-active {
	display: block;
}
.popup.follow-state .area-list .scroll-box {
	display: none;
	height: 100%;
	padding: 0 10px;
	overflow-y: scroll;
}
.popup.follow-state .area-list .row {
	position: relative;
	padding: 10px 0;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.popup.follow-state .area-list .row .img {
	width: 36px;
	height: 36px;
	flex-grow: 0;
	flex-shrink: 0;
	margin-right: 15px;
	border-radius: 50%;
	overflow: hidden;
}
.popup.follow-state .area-list .row .img a {
	display: block;
	height: 100%;
}
.popup.follow-state .area-list .row .img img {
	width: 100%;
	height: 100%;
	max-width: none;
	object-fit: cover;
	object-position: center;
}
.popup.follow-state .area-list .row .info {
	text-align: left;
	font-size: 10px;
	font-weight: 700;
}
.popup.follow-state .area-list .row .info .name {
	margin-bottom: 6px;
}
.popup.follow-state .area-list .row .info .counts {
	font-size: 0;
}
.popup.follow-state .area-list .row .info .counts .wrap {
	display: inline-block;
	margin-right: 5px;
}
.popup.follow-state .area-list .row .info .counts .wrap i {
	width: 7px;
	height: 7px;
	margin-right: 3px;
}
.popup.follow-state .area-list .row .info .counts .wrap i,
.popup.follow-state .area-list .row .info .counts .wrap span {
	display: inline-block;
	font-size: 10px;
	font-style: normal;
}
.popup.follow-state .area-list .row .info .counts .like i {
	background: url(../images/icon_like.png) 0 0 / 7px 7px no-repeat;
}
.popup.follow-state .area-list .row .info .counts .collection i {
	background: url(../images/icon_collect.png) 0 0 / 7px 7px no-repeat;
}
.popup.follow-state .area-list .row .action {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
.popup.follow-state .area-list .row .action .add {
	width: 18px;
	height: 18px;
	background: url(../images/search_friend_add.png) 0 0 / cover no-repeat;
}
.popup.follow-state .area-list .row .action .already {
	width: 18px;
	height: 18px;
	background: url(../images/search_friend_already.png) 0 0 / cover no-repeat;
}

.layer.collection-pick {
	height: calc(100vh - 76px);
}
.layer.collection-pick .inner {
	padding: 54px 25px 63px;
}
.layer.collection-pick .title {
	padding: 14px 0;
	border-bottom: 1px solid #c8c8c8;
}
.layer.collection-pick .title h5 {
	font-size: 21px;
	font-weight: 500;
}
.layer.collection-pick .content {
/*	height: 532px;*/
}
.layer.collection-pick .content .video-info {
/*	width: 160px;*/
/*	margin: 13px 10px 0 0;*/
	margin-top: 13px;
}
.layer.collection-pick .content .video-info figure {
	display: flex;
	flex-wrap: nowrap;
}
.layer.collection-pick .content .video-info .thumb-wrap {
	flex-basis: 48.63%;
	margin-right: 10px;
}
.layer.collection-pick .content .video-info .thumbnail {
	width: 100%;
}
.layer.collection-pick .content .video-info figcaption {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.layer.collection-pick .content .video-info figcaption .vid-brand {
	font-size: 10px;
	font-weight: 500;
	color: #666666;
}
.layer.collection-pick .content .video-info figcaption .vid-title {
	margin: 9px 0 5px;
	font-size: 12px;
	font-weight: 800;
	word-break: break-all;
}
.layer.collection-pick .content .video-info figcaption .vid-date {
	font-size: 10px;
	font-weight: 500;
	color: #666666;
}
.layer.collection-pick .content .collection-info > h6 {
	padding: 23px 0 15px;
	font-size: 15px;
	font-weight: 700;
}
.layer.collection-pick .content .collection-info .collection-list {
	/*	height: 375px;*/
	height: 160px;
	overflow: hidden;
}
.layer.collection-pick .content .collection-info .collection-list .scroll-box {
	height: 100%;
	overflow-y: scroll;
}
.layer.collection-pick .content .collection-info .collection-list .scroll-box ul li {
	display: block;
	padding: 7px 37px 7px 16px;
	cursor: pointer;
	background: none 93% 50% #ffffff;
	transition: background 0.2s ease;
}
.layer.collection-pick .content .collection-info .collection-list .scroll-box ul li span {
	font-size: 12px;
	font-weight: 500;
	vertical-align: middle;
}
.layer.collection-pick .content .collection-info .collection-list .scroll-box ul li:hover {
	background: url(../images/join_checked.png) 93% 50% / 9px 5px no-repeat rgba(226, 226, 226, 0.2);
}
.layer.collection-pick .content .collection-info .collection-list .scroll-box ul li .secret {
	display: none;
	background: url(../images/secret_icon_lightgrey.png) 0 0 / cover no-repeat;
	width: 11px;
	height: 16px;
	margin-left: 14px;
	vertical-align: middle;
}
.layer.collection-pick .content .collection-info .collection-list .scroll-box ul li.is-secret .secret {
	display: inline-block;
}
.layer.collection-pick .content .collection-info .btn-add {
	position: fixed;
	bottom: -64px;
	left: 0;
	right: 0;
	text-align: center;
	width: 100%;
	padding: 20px 0;
	background: rgba(255, 255, 255, 0.95);
	transition: bottom 0.4s ease 0.5s;
}
.layer.is-opened .content .collection-info .btn-add {
	bottom: 0;
}
.layer.collection-pick .content .collection-info .btn-add span {
	font-size: 12px;
	font-weight: 700;
	display: inline-block;
	vertical-align: middle;
}
.layer.collection-pick .content .collection-info .btn-add .icon {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: url(../images/plus_icon_2325.png) center / 11px 12px no-repeat #333333;
	margin-right: 8px;
}
.layer.collection-pick .content .collection-setting {
	display: flex;
	flex-wrap: nowrap;
	margin-top: 23px;
}
.layer.collection-pick .content .collection-setting .input-wrap {
	flex-basis: 50%;
}
.layer.collection-pick .content .collection-setting .input-wrap > span {
	display: block;
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 7px;
}
.layer.collection-pick .content .collection-setting .input-group {
	font-size: 0;
	margin-bottom: 6px;
}
.layer.collection-pick .content .collection-setting .input-group:last-child {
	margin-bottom: 0;
}
.layer.collection-pick .content .collection-setting .input-group .guide {
	display: inline-block;
	width: 24px;
	padding: 7px 0;
	vertical-align: middle;
	font-size: 12px;
}
.layer.collection-pick .content .collection-setting .input-group .input {
	display: inline-block;
	width: 135px;
	vertical-align: middle;
}
.layer.collection-pick .content .collection-setting .input-group .input input[type="text"] {
	width: 100%;
	padding: 4px 0;
	font-size: 12px;
	color: #b7b7b7;
	border-bottom: 1px solid #666666;
}
.layer.collection-pick .content .collection-setting .setting {
	flex-basis: 50%;
}
.layer.collection-pick .content .collection-setting .setting .secret-guide {
	padding-right: 15px;
	padding-left: 0;
	background: url(../images/secret_icon_lightgrey.png) 100% 50% / 10px 13px no-repeat;
	margin-right: 0;
	margin-bottom: 8px;
	line-height: 1;
	font-size: 15px;
	font-weight: 700;
}
.layer.collection-pick .content .collection-setting .setting .toggle {
	display: block;
}
.layer.collection-pick .content .button-wrap {
	margin-top: 43px;
	text-align: center;
}
.layer.collection-pick .content .button-wrap button {
	width: 86px;
	height: 30px;
	background: #666666;
	color: #ffffff;
	font-size: 12px;
	font-weight: 500;
}
.layer.collection-pick .content .button-wrap button:last-child {
	background: #333333;
	margin-left: 18px;
}
/* 팝업 개별코드 */

@media all and (max-width: 350px) {
	.content.user-page .user-info .info-wrap .wrap-actions > div .count {
		display: block;
	}
	.content.user-page .user-info .profile-img {
		width: 80px;
		height: 80px;
	}
	.content.user-page .user-info .info-wrap {
		width: calc(100% - 97px);
		color: #ffffff;
	}
}